Repository NethermindEth/Forta-Agents, pull requests merged in 2022-03, with the labels that each got.

#133 Impossible finance/contract upgrades
  Impossible-Agent-Suite/contract-upgrades/.dockerignore
  Impossible-Agent-Suite/contract-upgrades/.gitignore
  Impossible-Agent-Suite/contract-upgrades/Dockerfile
  Impossible-Agent-Suite/contract-upgrades/README.md
  Impossible-Agent-Suite/contract-upgrades/jest.config.js
  Impossible-Agent-Suite/contract-upgrades/package-lock.json
  Impossible-Agent-Suite/contract-upgrades/package.json
  Impossible-Agent-Suite/contract-upgrades/src/agent.spec.ts
  Impossible-Agent-Suite/contract-upgrades/src/agent.ts
  Impossible-Agent-Suite/contract-upgrades/src/utils.ts
  Impossible-Agent-Suite/contract-upgrades/tsconfig.json
Labels: Impossible

#137 Swap Fee Parameter updates
  Impossible-Agent-Suite/SwapFees/.dockerignore
  Impossible-Agent-Suite/SwapFees/.gitignore
  Impossible-Agent-Suite/SwapFees/.prettierrc
  Impossible-Agent-Suite/SwapFees/Dockerfile
  Impossible-Agent-Suite/SwapFees/PoC/ImpossibleFactory.sol
  Impossible-Agent-Suite/SwapFees/PoC/ImpossiblePair.sol
  Impossible-Agent-Suite/SwapFees/README.md
  Impossible-Agent-Suite/SwapFees/jest.config.js
  Impossible-Agent-Suite/SwapFees/package-lock.json
  Impossible-Agent-Suite/SwapFees/package.json
  Impossible-Agent-Suite/SwapFees/src/abi.ts
  Impossible-Agent-Suite/SwapFees/src/agent.spec.ts
  Impossible-Agent-Suite/SwapFees/src/agent.ts
  Impossible-Agent-Suite/SwapFees/src/findings.ts
  Impossible-Agent-Suite/SwapFees/src/mock.provider.ts
  Impossible-Agent-Suite/SwapFees/src/pairs.fetcher.spec.ts
  Impossible-Agent-Suite/SwapFees/src/pairs.fetcher.ts
  Impossible-Agent-Suite/SwapFees/tsconfig.json
Labels: Impossible

#139 Large deposits/withdrawals from LP pool
  Impossible-Agent-Suite/LargeDepositWithdrawOnPairs/.dockerignore
  Impossible-Agent-Suite/LargeDepositWithdrawOnPairs/.gitignore
  Impossible-Agent-Suite/LargeDepositWithdrawOnPairs/.prettierrc
  Impossible-Agent-Suite/LargeDepositWithdrawOnPairs/Dockerfile
  Impossible-Agent-Suite/LargeDepositWithdrawOnPairs/README.md
  Impossible-Agent-Suite/LargeDepositWithdrawOnPairs/jest.config.js
  Impossible-Agent-Suite/LargeDepositWithdrawOnPairs/package-lock.json
  Impossible-Agent-Suite/LargeDepositWithdrawOnPairs/package.json
  Impossible-Agent-Suite/LargeDepositWithdrawOnPairs/src/abi.ts
  Impossible-Agent-Suite/LargeDepositWithdrawOnPairs/src/agent.spec.ts
  Impossible-Agent-Suite/LargeDepositWithdrawOnPairs/src/agent.ts
  Impossible-Agent-Suite/LargeDepositWithdrawOnPairs/src/findings.ts
  Impossible-Agent-Suite/LargeDepositWithdrawOnPairs/src/mock.provider.ts
  Impossible-Agent-Suite/LargeDepositWithdrawOnPairs/src/pairs.fetcher.spec.ts
  Impossible-Agent-Suite/LargeDepositWithdrawOnPairs/src/pairs.fetcher.ts
  Impossible-Agent-Suite/LargeDepositWithdrawOnPairs/tsconfig.json
Labels: Impossible

#147 @impossible/large deposits withdraws
  Impossible-Agent-Suite/large-deposits-withdraws/.dockerignore
  Impossible-Agent-Suite/large-deposits-withdraws/.gitignore
  Impossible-Agent-Suite/large-deposits-withdraws/Dockerfile
  Impossible-Agent-Suite/large-deposits-withdraws/README.md
  Impossible-Agent-Suite/large-deposits-withdraws/jest.config.js
  Impossible-Agent-Suite/large-deposits-withdraws/package-lock.json
  Impossible-Agent-Suite/large-deposits-withdraws/package.json
  Impossible-Agent-Suite/large-deposits-withdraws/src/agent.spec.ts
  Impossible-Agent-Suite/large-deposits-withdraws/src/agent.ts
  Impossible-Agent-Suite/large-deposits-withdraws/src/large.sales.handler.ts
  Impossible-Agent-Suite/large-deposits-withdraws/src/large.staking.handler.ts
  Impossible-Agent-Suite/large-deposits-withdraws/src/mock.provider.ts
  Impossible-Agent-Suite/large-deposits-withdraws/src/sales.fetcher.spec.ts
  Impossible-Agent-Suite/large-deposits-withdraws/src/sales.fetcher.ts
  Impossible-Agent-Suite/large-deposits-withdraws/src/stake.fetcher.spec.ts
  Impossible-Agent-Suite/large-deposits-withdraws/src/stake.fetcher.ts
  Impossible-Agent-Suite/large-deposits-withdraws/src/utils.ts
  Impossible-Agent-Suite/large-deposits-withdraws/tsconfig.json
Labels: Impossible

#153 @impossible/non whitelist mint if
  Impossible-Agent-Suite/non-whitelist-mint/.dockerignore
  Impossible-Agent-Suite/non-whitelist-mint/.gitignore
  Impossible-Agent-Suite/non-whitelist-mint/Dockerfile
  Impossible-Agent-Suite/non-whitelist-mint/README.md
  Impossible-Agent-Suite/non-whitelist-mint/jest.config.js
  Impossible-Agent-Suite/non-whitelist-mint/package-lock.json
  Impossible-Agent-Suite/non-whitelist-mint/package.json
  Impossible-Agent-Suite/non-whitelist-mint/src/agent.spec.ts
  Impossible-Agent-Suite/non-whitelist-mint/src/agent.ts
  Impossible-Agent-Suite/non-whitelist-mint/src/verifier.ts
  Impossible-Agent-Suite/non-whitelist-mint/tsconfig.json
Labels: Impossible

#159 @flexa/withdrawal root hash addition
  Flexa-Agents/.gitkeep
  Flexa-Agents/Withdrawal-Root-Hash-Addition/.dockerignore
  Flexa-Agents/Withdrawal-Root-Hash-Addition/.gitignore
  Flexa-Agents/Withdrawal-Root-Hash-Addition/Dockerfile
  Flexa-Agents/Withdrawal-Root-Hash-Addition/README.md
  Flexa-Agents/Withdrawal-Root-Hash-Addition/jest.config.js
  Flexa-Agents/Withdrawal-Root-Hash-Addition/package-lock.json
  Flexa-Agents/Withdrawal-Root-Hash-Addition/package.json
  Flexa-Agents/Withdrawal-Root-Hash-Addition/src/agent.spec.ts
  Flexa-Agents/Withdrawal-Root-Hash-Addition/src/agent.ts
  Flexa-Agents/Withdrawal-Root-Hash-Addition/tsconfig.json
Labels: Flexa

#154 @impossible/staxmigrate
  Impossible-Agent-Suite/staxmigrate/.dockerignore
  Impossible-Agent-Suite/staxmigrate/.gitignore
  Impossible-Agent-Suite/staxmigrate/Dockerfile
  Impossible-Agent-Suite/staxmigrate/README.md
  Impossible-Agent-Suite/staxmigrate/jest.config.js
  Impossible-Agent-Suite/staxmigrate/package-lock.json
  Impossible-Agent-Suite/staxmigrate/package.json
  Impossible-Agent-Suite/staxmigrate/src/agent.spec.ts
  Impossible-Agent-Suite/staxmigrate/src/agent.ts
  Impossible-Agent-Suite/staxmigrate/tsconfig.json
Labels: Impossible

#162 Update approach for fetching pairs in Agent 9
  Impossible-Agent-Suite/LargeDepositWithdrawOnPairs/package.json
  Impossible-Agent-Suite/LargeDepositWithdrawOnPairs/src/abi.ts
  Impossible-Agent-Suite/LargeDepositWithdrawOnPairs/src/agent.spec.ts
  Impossible-Agent-Suite/LargeDepositWithdrawOnPairs/src/agent.ts
  Impossible-Agent-Suite/LargeDepositWithdrawOnPairs/src/pairs.fetcher.spec.ts
  Impossible-Agent-Suite/LargeDepositWithdrawOnPairs/src/pairs.fetcher.ts
Labels: Impossible

#145 @impossible finance/flash loan
  Impossible-Agent-Suite/flash-loan/.dockerignore
  Impossible-Agent-Suite/flash-loan/.gitignore
  Impossible-Agent-Suite/flash-loan/Dockerfile
  Impossible-Agent-Suite/flash-loan/README.md
  Impossible-Agent-Suite/flash-loan/jest.config.js
  Impossible-Agent-Suite/flash-loan/package-lock.json
  Impossible-Agent-Suite/flash-loan/package.json
  Impossible-Agent-Suite/flash-loan/src/agent.spec.ts
  Impossible-Agent-Suite/flash-loan/src/agent.ts
  Impossible-Agent-Suite/flash-loan/tsconfig.json
Labels: Impossible

#163 @flexa/fallback state
  Flexa-Agents/Fallback-State/.dockerignore
  Flexa-Agents/Fallback-State/.gitignore
  Flexa-Agents/Fallback-State/Dockerfile
  Flexa-Agents/Fallback-State/README.md
  Flexa-Agents/Fallback-State/jest.config.js
  Flexa-Agents/Fallback-State/package-lock.json
  Flexa-Agents/Fallback-State/package.json
  Flexa-Agents/Fallback-State/src/abi.ts
  Flexa-Agents/Fallback-State/src/agent.spec.ts
  Flexa-Agents/Fallback-State/src/agent.ts
  Flexa-Agents/Fallback-State/src/data.fetcher.spec.ts
  Flexa-Agents/Fallback-State/src/data.fetcher.ts
  Flexa-Agents/Fallback-State/tsconfig.json
Labels: Flexa

#161 @flexa/large deposit withdrawal
  Flexa-Agents/large-deposit-withdrawal/.dockerignore
  Flexa-Agents/large-deposit-withdrawal/.gitignore
  Flexa-Agents/large-deposit-withdrawal/Dockerfile
  Flexa-Agents/large-deposit-withdrawal/README.md
  Flexa-Agents/large-deposit-withdrawal/jest.config.js
  Flexa-Agents/large-deposit-withdrawal/package-lock.json
  Flexa-Agents/large-deposit-withdrawal/package.json
  Flexa-Agents/large-deposit-withdrawal/src/agent.spec.ts
  Flexa-Agents/large-deposit-withdrawal/src/agent.ts
  Flexa-Agents/large-deposit-withdrawal/src/price.fetcher.spec.ts
  Flexa-Agents/large-deposit-withdrawal/src/price.fetcher.ts
  Flexa-Agents/large-deposit-withdrawal/src/utils.ts
  Flexa-Agents/large-deposit-withdrawal/tsconfig.json
Labels: Flexa

#165 @flexa/flexa one
  Flexa-Agents/Large-deposits/Dockerfile
  Flexa-Agents/Large-deposits/README.md
  Flexa-Agents/Large-deposits/jest.config.js
  Flexa-Agents/Large-deposits/package-lock.json
  Flexa-Agents/Large-deposits/package.json
  Flexa-Agents/Large-deposits/src/agent.spec.ts
  Flexa-Agents/Large-deposits/src/agent.ts
  Flexa-Agents/Large-deposits/src/price.fetcher.spec.ts
  Flexa-Agents/Large-deposits/src/price.fetcher.ts
  Flexa-Agents/Large-deposits/src/utils.ts
  Flexa-Agents/Large-deposits/tsconfig.json
Labels: Flexa

#167 Flexa Agents
  Flexa-Agents/Fallback-State/.dockerignore
  Flexa-Agents/Fallback-State/.gitignore
  Flexa-Agents/Fallback-State/Dockerfile
  Flexa-Agents/Fallback-State/README.md
  Flexa-Agents/Fallback-State/jest.config.js
  Flexa-Agents/Fallback-State/package-lock.json
  Flexa-Agents/Fallback-State/package.json
  Flexa-Agents/Fallback-State/src/abi.ts
  Flexa-Agents/Fallback-State/src/agent.spec.ts
  Flexa-Agents/Fallback-State/src/agent.ts
  Flexa-Agents/Fallback-State/src/data.fetcher.spec.ts
  Flexa-Agents/Fallback-State/src/data.fetcher.ts
  Flexa-Agents/Fallback-State/tsconfig.json
  Flexa-Agents/Large-Deposit-Withdrawal/.dockerignore
  Flexa-Agents/Large-Deposit-Withdrawal/.gitignore
  Flexa-Agents/Large-Deposit-Withdrawal/Dockerfile
  Flexa-Agents/Large-Deposit-Withdrawal/README.md
  Flexa-Agents/Large-Deposit-Withdrawal/jest.config.js
  Flexa-Agents/Large-Deposit-Withdrawal/package-lock.json
  Flexa-Agents/Large-Deposit-Withdrawal/package.json
  Flexa-Agents/Large-Deposit-Withdrawal/src/agent.spec.ts
  Flexa-Agents/Large-Deposit-Withdrawal/src/agent.ts
  Flexa-Agents/Large-Deposit-Withdrawal/src/price.fetcher.spec.ts
  Flexa-Agents/Large-Deposit-Withdrawal/src/price.fetcher.ts
  Flexa-Agents/Large-Deposit-Withdrawal/src/utils.ts
  Flexa-Agents/Large-Deposit-Withdrawal/tsconfig.json
  Flexa-Agents/Large-Stake/Dockerfile
  Flexa-Agents/Large-Stake/README.md
  Flexa-Agents/Large-Stake/jest.config.js
  Flexa-Agents/Large-Stake/package-lock.json
  Flexa-Agents/Large-Stake/package.json
  Flexa-Agents/Large-Stake/src/agent.spec.ts
  Flexa-Agents/Large-Stake/src/agent.ts
  Flexa-Agents/Large-Stake/src/price.fetcher.spec.ts
  Flexa-Agents/Large-Stake/src/price.fetcher.ts
  Flexa-Agents/Large-Stake/src/utils.ts
  Flexa-Agents/Large-Stake/tsconfig.json
  Flexa-Agents/Large-Unstake/.dockerignore
  Flexa-Agents/Large-Unstake/.gitignore
  Flexa-Agents/Large-Unstake/Dockerfile
  Flexa-Agents/Large-Unstake/README.md
  Flexa-Agents/Large-Unstake/jest.config.js
  Flexa-Agents/Large-Unstake/package-lock.json
  Flexa-Agents/Large-Unstake/package.json
  Flexa-Agents/Large-Unstake/src/agent.spec.ts
  Flexa-Agents/Large-Unstake/src/agent.ts
  Flexa-Agents/Large-Unstake/src/fetcher.spec.ts
  Flexa-Agents/Large-Unstake/src/fetcher.ts
  Flexa-Agents/Large-Unstake/src/utils.ts
  Flexa-Agents/Large-Unstake/tsconfig.json
  Flexa-Agents/Withdrawal-Root/.dockerignore
  Flexa-Agents/Withdrawal-Root/.gitignore
  Flexa-Agents/Withdrawal-Root/Dockerfile
  Flexa-Agents/Withdrawal-Root/README.md
  Flexa-Agents/Withdrawal-Root/jest.config.js
  Flexa-Agents/Withdrawal-Root/package-lock.json
  Flexa-Agents/Withdrawal-Root/package.json
  Flexa-Agents/Withdrawal-Root/src/agent.spec.ts
  Flexa-Agents/Withdrawal-Root/src/agent.ts
  Flexa-Agents/Withdrawal-Root/tsconfig.json
Labels: Flexa

#166 Yearn - Instant Withdrawals
  Yearn-agents/InstantWithdrawal/.dockerignore
  Yearn-agents/InstantWithdrawal/.gitignore
  Yearn-agents/InstantWithdrawal/Dockerfile
  Yearn-agents/InstantWithdrawal/README.md
  Yearn-agents/InstantWithdrawal/jest.config.js
  Yearn-agents/InstantWithdrawal/package-lock.json
  Yearn-agents/InstantWithdrawal/package.json
  Yearn-agents/InstantWithdrawal/src/abi.ts
  Yearn-agents/InstantWithdrawal/src/agent.spec.ts
  Yearn-agents/InstantWithdrawal/src/agent.ts
  Yearn-agents/InstantWithdrawal/src/data.fetcher.spec.ts
  Yearn-agents/InstantWithdrawal/src/data.fetcher.ts
  Yearn-agents/InstantWithdrawal/src/utils.ts
  Yearn-agents/InstantWithdrawal/tsconfig.json
  package-lock.json
Labels: yearn

#172 @paraswap/role changes
  Paraswap-Agents/Role-Changes/.dockerignore
  Paraswap-Agents/Role-Changes/.gitignore
  Paraswap-Agents/Role-Changes/.prettierrc
  Paraswap-Agents/Role-Changes/Dockerfile
  Paraswap-Agents/Role-Changes/README.md
  Paraswap-Agents/Role-Changes/jest.config.js
  Paraswap-Agents/Role-Changes/package-lock.json
  Paraswap-Agents/Role-Changes/package.json
  Paraswap-Agents/Role-Changes/src/agent.spec.ts
  Paraswap-Agents/Role-Changes/src/agent.ts
  Paraswap-Agents/Role-Changes/src/utils.ts
  Paraswap-Agents/Role-Changes/tsconfig.json
Labels: Paraswap

#168 @paraswap/delegate calls
  Paraswap-Agents/delegate-calls/.prettierrc
  Paraswap-Agents/delegate-calls/Dockerfile
  Paraswap-Agents/delegate-calls/README.md
  Paraswap-Agents/delegate-calls/jest.config.js
  Paraswap-Agents/delegate-calls/package-lock.json
  Paraswap-Agents/delegate-calls/package.json
  Paraswap-Agents/delegate-calls/src/agent.spec.ts
  Paraswap-Agents/delegate-calls/src/agent.ts
  Paraswap-Agents/delegate-calls/src/finding.ts
  Paraswap-Agents/delegate-calls/tsconfig.json
Labels: Paraswap

#176 Delegate votes
  Benqi-Agents/Large-Delegate-Votes-Change/.dockerignore
  Benqi-Agents/Large-Delegate-Votes-Change/.gitignore
  Benqi-Agents/Large-Delegate-Votes-Change/.prettierrc
  Benqi-Agents/Large-Delegate-Votes-Change/Dockerfile
  Benqi-Agents/Large-Delegate-Votes-Change/README.md
  Benqi-Agents/Large-Delegate-Votes-Change/jest.config.js
  Benqi-Agents/Large-Delegate-Votes-Change/package-lock.json
  Benqi-Agents/Large-Delegate-Votes-Change/package.json
  Benqi-Agents/Large-Delegate-Votes-Change/src/agent.spec.ts
  Benqi-Agents/Large-Delegate-Votes-Change/src/agent.ts
  Benqi-Agents/Large-Delegate-Votes-Change/src/constants.ts
  Benqi-Agents/Large-Delegate-Votes-Change/tsconfig.json
Labels: Benqi

#177 QI Transfers
  Benqi-Agents/Qi-Transfers/.dockerignore
  Benqi-Agents/Qi-Transfers/.gitignore
  Benqi-Agents/Qi-Transfers/.prettierrc
  Benqi-Agents/Qi-Transfers/Dockerfile
  Benqi-Agents/Qi-Transfers/PoC/qi.sol
  Benqi-Agents/Qi-Transfers/README.md
  Benqi-Agents/Qi-Transfers/jest.config.js
  Benqi-Agents/Qi-Transfers/package-lock.json
  Benqi-Agents/Qi-Transfers/package.json
  Benqi-Agents/Qi-Transfers/src/agent.spec.ts
  Benqi-Agents/Qi-Transfers/src/agent.ts
  Benqi-Agents/Qi-Transfers/src/data.fetcher.spec.ts
  Benqi-Agents/Qi-Transfers/src/data.fetcher.ts
  Benqi-Agents/Qi-Transfers/src/utils.ts
  Benqi-Agents/Qi-Transfers/tsconfig.json
Labels: Benqi

#175 Delegations monitor
  .DS_Store
  Benqi-Agents/DelegationMonitor/.dockerignore
  Benqi-Agents/DelegationMonitor/.gitignore
  Benqi-Agents/DelegationMonitor/.prettierrc
  Benqi-Agents/DelegationMonitor/Dockerfile
  Benqi-Agents/DelegationMonitor/Poc/QiToken.sol
  Benqi-Agents/DelegationMonitor/README.md
  Benqi-Agents/DelegationMonitor/jest.config.js
  Benqi-Agents/DelegationMonitor/package-lock.json
  Benqi-Agents/DelegationMonitor/package.json
  Benqi-Agents/DelegationMonitor/src/agent.spec.ts
  Benqi-Agents/DelegationMonitor/src/agent.ts
  Benqi-Agents/DelegationMonitor/src/utils.ts
  Benqi-Agents/DelegationMonitor/tsconfig.json
Labels: Benqi

#180 @benqi/Large-Withdrawals-From-Pools
  Benqi-Agents/Large-Pool-Withdrawal/.dockerignore
  Benqi-Agents/Large-Pool-Withdrawal/.gitignore
  Benqi-Agents/Large-Pool-Withdrawal/.prettierrc
  Benqi-Agents/Large-Pool-Withdrawal/Dockerfile
  Benqi-Agents/Large-Pool-Withdrawal/PoC/Comptroller.sol
  Benqi-Agents/Large-Pool-Withdrawal/PoC/QiToken.sol
  Benqi-Agents/Large-Pool-Withdrawal/README.md
  Benqi-Agents/Large-Pool-Withdrawal/jest.config.js
  Benqi-Agents/Large-Pool-Withdrawal/package-lock.json
  Benqi-Agents/Large-Pool-Withdrawal/package.json
  Benqi-Agents/Large-Pool-Withdrawal/src/abi.ts
  Benqi-Agents/Large-Pool-Withdrawal/src/agent.spec.ts
  Benqi-Agents/Large-Pool-Withdrawal/src/agent.ts
  Benqi-Agents/Large-Pool-Withdrawal/src/finding.ts
  Benqi-Agents/Large-Pool-Withdrawal/tsconfig.json
Labels: Benqi

#182 Large PGL deposits redeems Agent
  Benqi-Agents/Large-Deposits-Redeems/.dockerignore
  Benqi-Agents/Large-Deposits-Redeems/.gitignore
  Benqi-Agents/Large-Deposits-Redeems/.prettierrc
  Benqi-Agents/Large-Deposits-Redeems/Dockerfile
  Benqi-Agents/Large-Deposits-Redeems/PoC/PglStakingContract.sol
  Benqi-Agents/Large-Deposits-Redeems/README.md
  Benqi-Agents/Large-Deposits-Redeems/jest.config.js
  Benqi-Agents/Large-Deposits-Redeems/package-lock.json
  Benqi-Agents/Large-Deposits-Redeems/package.json
  Benqi-Agents/Large-Deposits-Redeems/src/agent.spec.ts
  Benqi-Agents/Large-Deposits-Redeems/src/agent.ts
  Benqi-Agents/Large-Deposits-Redeems/src/findings.ts
  Benqi-Agents/Large-Deposits-Redeems/src/supplies.fetcher.spec.ts
  Benqi-Agents/Large-Deposits-Redeems/src/supplies.fetcher.ts
  Benqi-Agents/Large-Deposits-Redeems/src/utils.ts
  Benqi-Agents/Large-Deposits-Redeems/tsconfig.json
Labels: Benqi

#179 Large mint/burn Agent
  Benqi-Agents/Large-Mint-Burn/.dockerignore
  Benqi-Agents/Large-Mint-Burn/.gitignore
  Benqi-Agents/Large-Mint-Burn/.prettierrc
  Benqi-Agents/Large-Mint-Burn/Dockerfile
  Benqi-Agents/Large-Mint-Burn/PoC/PangolinPair.sol
  Benqi-Agents/Large-Mint-Burn/README.md
  Benqi-Agents/Large-Mint-Burn/jest.config.js
  Benqi-Agents/Large-Mint-Burn/package-lock.json
  Benqi-Agents/Large-Mint-Burn/package.json
  Benqi-Agents/Large-Mint-Burn/src/agent.spec.ts
  Benqi-Agents/Large-Mint-Burn/src/agent.ts
  Benqi-Agents/Large-Mint-Burn/src/reserves.fetcher.spec.ts
  Benqi-Agents/Large-Mint-Burn/src/reserves.fetcher.ts
  Benqi-Agents/Large-Mint-Burn/src/utils.ts
  Benqi-Agents/Large-Mint-Burn/tsconfig.json
Labels: Benqi

#183 Large QI Grants Agent
  Benqi-Agents/Large-Grant/.dockerignore
  Benqi-Agents/Large-Grant/.gitignore
  Benqi-Agents/Large-Grant/.prettierrc
  Benqi-Agents/Large-Grant/Dockerfile
  Benqi-Agents/Large-Grant/PoC/AgentTest.sol
  Benqi-Agents/Large-Grant/README.md
  Benqi-Agents/Large-Grant/jest.config.js
  Benqi-Agents/Large-Grant/package-lock.json
  Benqi-Agents/Large-Grant/package.json
  Benqi-Agents/Large-Grant/src/agent.config.ts
  Benqi-Agents/Large-Grant/src/agent.spec.ts
  Benqi-Agents/Large-Grant/src/agent.ts
  Benqi-Agents/Large-Grant/src/finding.ts
  Benqi-Agents/Large-Grant/src/utils.ts
  Benqi-Agents/Large-Grant/tsconfig.json
Labels: Benqi
