Repository NethermindEth/Forta-Agents, pull requests merged in 2022-08, with the labels that each got.

#296 CAKE04 - Large LP Token Deposit/Withdrawal
  Pancakeswap-Agents/Large-LP-Token-Deposit-Withdraw/.dockerignore
  Pancakeswap-Agents/Large-LP-Token-Deposit-Withdraw/.gitignore
  Pancakeswap-Agents/Large-LP-Token-Deposit-Withdraw/.prettierrc
  Pancakeswap-Agents/Large-LP-Token-Deposit-Withdraw/Dockerfile
  Pancakeswap-Agents/Large-LP-Token-Deposit-Withdraw/README.md
  Pancakeswap-Agents/Large-LP-Token-Deposit-Withdraw/jest.config.js
  Pancakeswap-Agents/Large-LP-Token-Deposit-Withdraw/package-lock.json
  Pancakeswap-Agents/Large-LP-Token-Deposit-Withdraw/package.json
  Pancakeswap-Agents/Large-LP-Token-Deposit-Withdraw/src/agent.spec.ts
  Pancakeswap-Agents/Large-LP-Token-Deposit-Withdraw/src/agent.ts
  Pancakeswap-Agents/Large-LP-Token-Deposit-Withdraw/src/config.ts
  Pancakeswap-Agents/Large-LP-Token-Deposit-Withdraw/src/constants.ts
  Pancakeswap-Agents/Large-LP-Token-Deposit-Withdraw/src/findings.ts
  Pancakeswap-Agents/Large-LP-Token-Deposit-Withdraw/src/masterchef.fetcher.spec.ts
  Pancakeswap-Agents/Large-LP-Token-Deposit-Withdraw/src/masterchef.fetcher.ts
  Pancakeswap-Agents/Large-LP-Token-Deposit-Withdraw/src/token.fetcher.spec.ts
  Pancakeswap-Agents/Large-LP-Token-Deposit-Withdraw/src/token.fetcher.ts
  Pancakeswap-Agents/Large-LP-Token-Deposit-Withdraw/tsconfig.json
Labels: PancakeSwap

#269 GMX-05
  GMX-Bots/gmx5-detect-frontruns/.dockerignore
  GMX-Bots/gmx5-detect-frontruns/.gitignore
  GMX-Bots/gmx5-detect-frontruns/.prettierrc
  GMX-Bots/gmx5-detect-frontruns/Dockerfile
  GMX-Bots/gmx5-detect-frontruns/README.md
  GMX-Bots/gmx5-detect-frontruns/jest.config.js
  GMX-Bots/gmx5-detect-frontruns/package-lock.json
  GMX-Bots/gmx5-detect-frontruns/package.json
  GMX-Bots/gmx5-detect-frontruns/src/agent.spec.ts
  GMX-Bots/gmx5-detect-frontruns/src/agent.ts
  GMX-Bots/gmx5-detect-frontruns/src/utils.ts
  GMX-Bots/gmx5-detect-frontruns/tsconfig.json
Labels: gmx

#315 CAKE05 Set Masterchef Settings
  PancakeSwap-Bots/Prediction-Admin-Operatons/package-lock.json.orig
  PancakeSwap-Bots/Set-Masterchef-Settings/.dockerignore
  PancakeSwap-Bots/Set-Masterchef-Settings/.gitignore
  PancakeSwap-Bots/Set-Masterchef-Settings/.prettierrc
  PancakeSwap-Bots/Set-Masterchef-Settings/Dockerfile
  PancakeSwap-Bots/Set-Masterchef-Settings/PoC/TestMasterChef.sol
  PancakeSwap-Bots/Set-Masterchef-Settings/README.md
  PancakeSwap-Bots/Set-Masterchef-Settings/jest.config.js
  PancakeSwap-Bots/Set-Masterchef-Settings/package-lock.json
  PancakeSwap-Bots/Set-Masterchef-Settings/package.json
  PancakeSwap-Bots/Set-Masterchef-Settings/src/abi.ts
  PancakeSwap-Bots/Set-Masterchef-Settings/src/agent.spec.ts
  PancakeSwap-Bots/Set-Masterchef-Settings/src/agent.ts
  PancakeSwap-Bots/Set-Masterchef-Settings/src/network.ts
  PancakeSwap-Bots/Set-Masterchef-Settings/src/utils.ts
  PancakeSwap-Bots/Set-Masterchef-Settings/tsconfig.json
Labels: PancakeSwap

#302 GMX07 - Large Amount of Profitable Trade Detection
  GMX-Bots/Detect-profitable-trades/.dockerignore
  GMX-Bots/Detect-profitable-trades/.gitignore
  GMX-Bots/Detect-profitable-trades/.prettierrc
  GMX-Bots/Detect-profitable-trades/Dockerfile
  GMX-Bots/Detect-profitable-trades/README.md
  GMX-Bots/Detect-profitable-trades/jest.config.js
  GMX-Bots/Detect-profitable-trades/package-lock.json
  GMX-Bots/Detect-profitable-trades/package.json
  GMX-Bots/Detect-profitable-trades/src/agent.config.ts
  GMX-Bots/Detect-profitable-trades/src/agent.spec.ts
  GMX-Bots/Detect-profitable-trades/src/agent.ts
  GMX-Bots/Detect-profitable-trades/src/utils.ts
  GMX-Bots/Detect-profitable-trades/tsconfig.json
Labels: gmx

#298 CAKE02 - Large Swap
  PancakeSwap-Bots/Large-swap/.dockerignore
  PancakeSwap-Bots/Large-swap/.gitignore
  PancakeSwap-Bots/Large-swap/.prettierrc
  PancakeSwap-Bots/Large-swap/Dockerfile
  PancakeSwap-Bots/Large-swap/README.md
  PancakeSwap-Bots/Large-swap/jest.config.js
  PancakeSwap-Bots/Large-swap/package-lock.json
  PancakeSwap-Bots/Large-swap/package.json
  PancakeSwap-Bots/Large-swap/src/agent.spec.ts
  PancakeSwap-Bots/Large-swap/src/agent.ts
  PancakeSwap-Bots/Large-swap/src/constants.ts
  PancakeSwap-Bots/Large-swap/src/data.fetcher.spec.ts
  PancakeSwap-Bots/Large-swap/src/data.fetcher.ts
  PancakeSwap-Bots/Large-swap/src/utils.ts
  PancakeSwap-Bots/Large-swap/tsconfig.json
Labels: PancakeSwap

#318 UMA01 - Funds Deposited
  UMA-Bots/Funds-Deposited/.dockerignore
  UMA-Bots/Funds-Deposited/.gitignore
  UMA-Bots/Funds-Deposited/.prettierrc
  UMA-Bots/Funds-Deposited/Dockerfile
  UMA-Bots/Funds-Deposited/PoC/SpokePoolTest.sol
  UMA-Bots/Funds-Deposited/README.md
  UMA-Bots/Funds-Deposited/jest.config.js
  UMA-Bots/Funds-Deposited/package-lock.json
  UMA-Bots/Funds-Deposited/package.json
  UMA-Bots/Funds-Deposited/src/ABI.ts
  UMA-Bots/Funds-Deposited/src/agent.spec.ts
  UMA-Bots/Funds-Deposited/src/agent.ts
  UMA-Bots/Funds-Deposited/src/config.ts
  UMA-Bots/Funds-Deposited/src/findings.ts
  UMA-Bots/Funds-Deposited/tsconfig.json
Labels: UMA

#319 UMA04 - Tokens Relayed
  .DS_Store
  UMA-Bots/Hubpool-Relayer-Reimbursement/.dockerignore
  UMA-Bots/Hubpool-Relayer-Reimbursement/.gitignore
  UMA-Bots/Hubpool-Relayer-Reimbursement/.prettierrc
  UMA-Bots/Hubpool-Relayer-Reimbursement/Dockerfile
  UMA-Bots/Hubpool-Relayer-Reimbursement/PoC/TestingContract.sol
  UMA-Bots/Hubpool-Relayer-Reimbursement/README.md
  UMA-Bots/Hubpool-Relayer-Reimbursement/jest.config.js
  UMA-Bots/Hubpool-Relayer-Reimbursement/package-lock.json
  UMA-Bots/Hubpool-Relayer-Reimbursement/package.json
  UMA-Bots/Hubpool-Relayer-Reimbursement/src/agent.spec.ts
  UMA-Bots/Hubpool-Relayer-Reimbursement/src/agent.ts
  UMA-Bots/Hubpool-Relayer-Reimbursement/src/constants.ts
  UMA-Bots/Hubpool-Relayer-Reimbursement/src/helpers.ts
  UMA-Bots/Hubpool-Relayer-Reimbursement/src/network.ts
  UMA-Bots/Hubpool-Relayer-Reimbursement/tsconfig.json
Labels: UMA

#323 ETH01 - Milestones In TTD
  ETH-Merge-Bots/Milestones-in-TTD/.dockerignore
  ETH-Merge-Bots/Milestones-in-TTD/.gitignore
  ETH-Merge-Bots/Milestones-in-TTD/.prettierrc
  ETH-Merge-Bots/Milestones-in-TTD/Dockerfile
  ETH-Merge-Bots/Milestones-in-TTD/README.md
  ETH-Merge-Bots/Milestones-in-TTD/jest.config.js
  ETH-Merge-Bots/Milestones-in-TTD/package-lock.json
  ETH-Merge-Bots/Milestones-in-TTD/package.json
  ETH-Merge-Bots/Milestones-in-TTD/src/agent.spec.ts
  ETH-Merge-Bots/Milestones-in-TTD/src/agent.ts
  ETH-Merge-Bots/Milestones-in-TTD/src/eth.config.ts
  ETH-Merge-Bots/Milestones-in-TTD/src/findings.ts
  ETH-Merge-Bots/Milestones-in-TTD/src/utils.ts
  ETH-Merge-Bots/Milestones-in-TTD/tsconfig.json
Labels: ETH

#324 ETH02 - Changes in Block Difficulty
  ETH-Merge-Bots/Changes-in-Block-Difficulty/.dockerignore
  ETH-Merge-Bots/Changes-in-Block-Difficulty/.gitignore
  ETH-Merge-Bots/Changes-in-Block-Difficulty/.prettierrc
  ETH-Merge-Bots/Changes-in-Block-Difficulty/Dockerfile
  ETH-Merge-Bots/Changes-in-Block-Difficulty/README.md
  ETH-Merge-Bots/Changes-in-Block-Difficulty/jest.config.js
  ETH-Merge-Bots/Changes-in-Block-Difficulty/package-lock.json
  ETH-Merge-Bots/Changes-in-Block-Difficulty/package.json
  ETH-Merge-Bots/Changes-in-Block-Difficulty/src/agent.spec.ts
  ETH-Merge-Bots/Changes-in-Block-Difficulty/src/agent.ts
  ETH-Merge-Bots/Changes-in-Block-Difficulty/src/utils.ts
  ETH-Merge-Bots/Changes-in-Block-Difficulty/tsconfig.json
Labels: ETH

#327 ETH01 - Milestones in TTD Update
  ETH-Merge-Bots/Milestones-in-TTD/src/agent.spec.ts
  ETH-Merge-Bots/Milestones-in-TTD/src/agent.ts
  ETH-Merge-Bots/Milestones-in-TTD/src/eth.config.ts
  ETH-Merge-Bots/Milestones-in-TTD/src/findings.ts
Labels: ETH
