Repository NethermindEth/Forta-Agents, pull requests merged in 2022-06, with the labels that each got.

#209 Apeswap - Large Banana Mint
  Apeswap-Bots/Large-Banana-Token-Mint/.dockerignore
  Apeswap-Bots/Large-Banana-Token-Mint/.gitignore
  Apeswap-Bots/Large-Banana-Token-Mint/.prettierrc
  Apeswap-Bots/Large-Banana-Token-Mint/Dockerfile
  Apeswap-Bots/Large-Banana-Token-Mint/PoC/Address.sol
  Apeswap-Bots/Large-Banana-Token-Mint/PoC/Context.sol
  Apeswap-Bots/Large-Banana-Token-Mint/PoC/IBEP20.sol
  Apeswap-Bots/Large-Banana-Token-Mint/PoC/Ownable.sol
  Apeswap-Bots/Large-Banana-Token-Mint/PoC/SafeMath.sol
  Apeswap-Bots/Large-Banana-Token-Mint/PoC/TestBanana.sol
  Apeswap-Bots/Large-Banana-Token-Mint/README.md
  Apeswap-Bots/Large-Banana-Token-Mint/jest.config.js
  Apeswap-Bots/Large-Banana-Token-Mint/package-lock.json
  Apeswap-Bots/Large-Banana-Token-Mint/package.json
  Apeswap-Bots/Large-Banana-Token-Mint/src/agent.spec.ts
  Apeswap-Bots/Large-Banana-Token-Mint/src/agent.ts
  Apeswap-Bots/Large-Banana-Token-Mint/src/constants.ts
  Apeswap-Bots/Large-Banana-Token-Mint/src/network.ts
  Apeswap-Bots/Large-Banana-Token-Mint/src/total.supply.fetcher.spec.ts
  Apeswap-Bots/Large-Banana-Token-Mint/src/total.supply.fetcher.ts
  Apeswap-Bots/Large-Banana-Token-Mint/src/utils.ts
  Apeswap-Bots/Large-Banana-Token-Mint/tsconfig.json
Labels: Apeswap

#231 UM01 - Health Factors
  Umee-Bots/Health-Factors/.dockerignore
  Umee-Bots/Health-Factors/.gitignore
  Umee-Bots/Health-Factors/.prettierrc
  Umee-Bots/Health-Factors/Dockerfile
  Umee-Bots/Health-Factors/PoC/MockChainlinkFeed.sol
  Umee-Bots/Health-Factors/PoC/MockLendingPool.sol
  Umee-Bots/Health-Factors/README.md
  Umee-Bots/Health-Factors/jest.config.js
  Umee-Bots/Health-Factors/package-lock.json
  Umee-Bots/Health-Factors/package.json
  Umee-Bots/Health-Factors/src/agent.config.ts
  Umee-Bots/Health-Factors/src/agent.spec.ts
  Umee-Bots/Health-Factors/src/agent.ts
  Umee-Bots/Health-Factors/src/constants.ts
  Umee-Bots/Health-Factors/src/multicall.ts
  Umee-Bots/Health-Factors/src/utils.ts
  Umee-Bots/Health-Factors/tsconfig.json
Labels: Umee

#247 UM02 - uToken Exchange Rate Drop
  Umee-Bots/uToken-Exchange-Rate-Drop/.dockerignore
  Umee-Bots/uToken-Exchange-Rate-Drop/.gitignore
  Umee-Bots/uToken-Exchange-Rate-Drop/.prettierrc
  Umee-Bots/uToken-Exchange-Rate-Drop/Dockerfile
  Umee-Bots/uToken-Exchange-Rate-Drop/PoC/MockLendingPool.sol
  Umee-Bots/uToken-Exchange-Rate-Drop/PoC/MockUToken.sol
  Umee-Bots/uToken-Exchange-Rate-Drop/PoC/MockUmeeOracle.sol
  Umee-Bots/uToken-Exchange-Rate-Drop/README.md
  Umee-Bots/uToken-Exchange-Rate-Drop/jest.config.js
  Umee-Bots/uToken-Exchange-Rate-Drop/package-lock.json
  Umee-Bots/uToken-Exchange-Rate-Drop/package.json
  Umee-Bots/uToken-Exchange-Rate-Drop/src/agent.config.ts
  Umee-Bots/uToken-Exchange-Rate-Drop/src/agent.spec.ts
  Umee-Bots/uToken-Exchange-Rate-Drop/src/agent.ts
  Umee-Bots/uToken-Exchange-Rate-Drop/src/fetcher.spec.ts
  Umee-Bots/uToken-Exchange-Rate-Drop/src/fetcher.ts
  Umee-Bots/uToken-Exchange-Rate-Drop/src/utils.ts
  Umee-Bots/uToken-Exchange-Rate-Drop/tsconfig.json
Labels: Umee

#262 UM14 Deposit/Borrow as Flashloan
  Umee-Bots/Deposit-Borrow-Flashloan/.dockerignore
  Umee-Bots/Deposit-Borrow-Flashloan/.gitignore
  Umee-Bots/Deposit-Borrow-Flashloan/.prettierrc
  Umee-Bots/Deposit-Borrow-Flashloan/Dockerfile
  Umee-Bots/Deposit-Borrow-Flashloan/PoC/MockLendingPool.sol
  Umee-Bots/Deposit-Borrow-Flashloan/README.md
  Umee-Bots/Deposit-Borrow-Flashloan/jest.config.js
  Umee-Bots/Deposit-Borrow-Flashloan/package-lock.json
  Umee-Bots/Deposit-Borrow-Flashloan/package.json
  Umee-Bots/Deposit-Borrow-Flashloan/src/agent.spec.ts
  Umee-Bots/Deposit-Borrow-Flashloan/src/agent.ts
  Umee-Bots/Deposit-Borrow-Flashloan/src/utils.ts
  Umee-Bots/Deposit-Borrow-Flashloan/tsconfig.json
Labels: Umee

#258 TJ21 - Large banker joe transfers
  TraderJoe-Bots/Large-Banker-Joe-Transfers/.dockerignore
  TraderJoe-Bots/Large-Banker-Joe-Transfers/.gitignore
  TraderJoe-Bots/Large-Banker-Joe-Transfers/Dockerfile
  TraderJoe-Bots/Large-Banker-Joe-Transfers/PoC/TestJoeTroller.sol
  TraderJoe-Bots/Large-Banker-Joe-Transfers/PoC/TestMarket.sol
  TraderJoe-Bots/Large-Banker-Joe-Transfers/README.md
  TraderJoe-Bots/Large-Banker-Joe-Transfers/jest.config.js
  TraderJoe-Bots/Large-Banker-Joe-Transfers/package-lock.json
  TraderJoe-Bots/Large-Banker-Joe-Transfers/package.json
  TraderJoe-Bots/Large-Banker-Joe-Transfers/src/agent.spec.ts
  TraderJoe-Bots/Large-Banker-Joe-Transfers/src/agent.ts
  TraderJoe-Bots/Large-Banker-Joe-Transfers/src/finding.ts
  TraderJoe-Bots/Large-Banker-Joe-Transfers/src/markets.fetcher.spec.ts
  TraderJoe-Bots/Large-Banker-Joe-Transfers/src/markets.fetcher.ts
  TraderJoe-Bots/Large-Banker-Joe-Transfers/src/network.spec.ts
  TraderJoe-Bots/Large-Banker-Joe-Transfers/src/network.ts
  TraderJoe-Bots/Large-Banker-Joe-Transfers/src/supply.fetcher.spec.ts
  TraderJoe-Bots/Large-Banker-Joe-Transfers/src/supply.fetcher.ts
  TraderJoe-Bots/Large-Banker-Joe-Transfers/src/utils.ts
  TraderJoe-Bots/Large-Banker-Joe-Transfers/tsconfig.json
Labels: TraderJoe

#261 TJ24 - Ownership Transfer
  TraderJoe-Bots/Contract-Ownership/.dockerignore
  TraderJoe-Bots/Contract-Ownership/.gitignore
  TraderJoe-Bots/Contract-Ownership/.prettierrc
  TraderJoe-Bots/Contract-Ownership/Dockerfile
  TraderJoe-Bots/Contract-Ownership/PoC/TestMonitoredContract.sol
  TraderJoe-Bots/Contract-Ownership/README.md
  TraderJoe-Bots/Contract-Ownership/jest.config.js
  TraderJoe-Bots/Contract-Ownership/package-lock.json
  TraderJoe-Bots/Contract-Ownership/package.json
  TraderJoe-Bots/Contract-Ownership/src/agent.spec.ts
  TraderJoe-Bots/Contract-Ownership/src/agent.ts
  TraderJoe-Bots/Contract-Ownership/src/findings.ts
  TraderJoe-Bots/Contract-Ownership/src/network.spec.ts
  TraderJoe-Bots/Contract-Ownership/src/network.ts
  TraderJoe-Bots/Contract-Ownership/src/utils.ts
  TraderJoe-Bots/Contract-Ownership/tsconfig.json
Labels: TraderJoe

#252 UM06 - Large Borrow
  Umee-Bots/Large-Borrow/.dockerignore
  Umee-Bots/Large-Borrow/.gitignore
  Umee-Bots/Large-Borrow/.prettierrc
  Umee-Bots/Large-Borrow/Dockerfile
  Umee-Bots/Large-Borrow/PoC/MockAsset.sol
  Umee-Bots/Large-Borrow/PoC/MockLendingPool.sol
  Umee-Bots/Large-Borrow/README.md
  Umee-Bots/Large-Borrow/jest.config.js
  Umee-Bots/Large-Borrow/package-lock.json
  Umee-Bots/Large-Borrow/package.json
  Umee-Bots/Large-Borrow/src/agent.config.ts
  Umee-Bots/Large-Borrow/src/agent.spec.ts
  Umee-Bots/Large-Borrow/src/agent.ts
  Umee-Bots/Large-Borrow/src/constants.ts
  Umee-Bots/Large-Borrow/src/utils.ts
  Umee-Bots/Large-Borrow/tsconfig.json
Labels: Umee

#264 UM13 - Large Amount of Account Involvement
  Umee-Bots/Large-Amount-Account-Involvement/.dockerignore
  Umee-Bots/Large-Amount-Account-Involvement/.gitignore
  Umee-Bots/Large-Amount-Account-Involvement/.prettierrc
  Umee-Bots/Large-Amount-Account-Involvement/Dockerfile
  Umee-Bots/Large-Amount-Account-Involvement/PoC/Caller.sol
  Umee-Bots/Large-Amount-Account-Involvement/PoC/MockFunction.sol
  Umee-Bots/Large-Amount-Account-Involvement/README.md
  Umee-Bots/Large-Amount-Account-Involvement/jest.config.js
  Umee-Bots/Large-Amount-Account-Involvement/package-lock.json
  Umee-Bots/Large-Amount-Account-Involvement/package.json
  Umee-Bots/Large-Amount-Account-Involvement/src/agent.config.ts
  Umee-Bots/Large-Amount-Account-Involvement/src/agent.spec.ts
  Umee-Bots/Large-Amount-Account-Involvement/src/agent.ts
  Umee-Bots/Large-Amount-Account-Involvement/tsconfig.json
Labels: Umee

#265 UM12 - High Gas Use
  Umee-Bots/High-Gas-Use/.dockerignore
  Umee-Bots/High-Gas-Use/.gitignore
  Umee-Bots/High-Gas-Use/.prettierrc
  Umee-Bots/High-Gas-Use/Dockerfile
  Umee-Bots/High-Gas-Use/PoC/MockGasUsed.sol
  Umee-Bots/High-Gas-Use/README.md
  Umee-Bots/High-Gas-Use/jest.config.js
  Umee-Bots/High-Gas-Use/package-lock.json
  Umee-Bots/High-Gas-Use/package.json
  Umee-Bots/High-Gas-Use/src/agent.config.ts
  Umee-Bots/High-Gas-Use/src/agent.spec.ts
  Umee-Bots/High-Gas-Use/src/agent.ts
  Umee-Bots/High-Gas-Use/tsconfig.json
Labels: Umee

#259 UM07 - High Utilization Ratio
  Umee-Bots/High-Utilization-Ratio/.dockerignore
  Umee-Bots/High-Utilization-Ratio/.gitignore
  Umee-Bots/High-Utilization-Ratio/.prettierrc
  Umee-Bots/High-Utilization-Ratio/Dockerfile
  Umee-Bots/High-Utilization-Ratio/PoC/MockLendingPool.sol
  Umee-Bots/High-Utilization-Ratio/README.md
  Umee-Bots/High-Utilization-Ratio/jest.config.js
  Umee-Bots/High-Utilization-Ratio/package-lock.json
  Umee-Bots/High-Utilization-Ratio/package.json
  Umee-Bots/High-Utilization-Ratio/src/agent.config.ts
  Umee-Bots/High-Utilization-Ratio/src/agent.spec.ts
  Umee-Bots/High-Utilization-Ratio/src/agent.ts
  Umee-Bots/High-Utilization-Ratio/src/constants.ts
  Umee-Bots/High-Utilization-Ratio/src/multicall.ts
  Umee-Bots/High-Utilization-Ratio/src/utils.ts
  Umee-Bots/High-Utilization-Ratio/tsconfig.json
Labels: Umee

#250 TJ03 - Large Swap
  TraderJoe-Bots/Large-Swap/.dockerignore
  TraderJoe-Bots/Large-Swap/.gitignore
  TraderJoe-Bots/Large-Swap/.prettierrc
  TraderJoe-Bots/Large-Swap/Dockerfile
  TraderJoe-Bots/Large-Swap/PoC/TestJoeFactory.sol
  TraderJoe-Bots/Large-Swap/PoC/TestJoePair.sol
  TraderJoe-Bots/Large-Swap/README.md
  TraderJoe-Bots/Large-Swap/jest.config.js
  TraderJoe-Bots/Large-Swap/package-lock.json
  TraderJoe-Bots/Large-Swap/package.json
  TraderJoe-Bots/Large-Swap/src/agent.spec.ts
  TraderJoe-Bots/Large-Swap/src/agent.ts
  TraderJoe-Bots/Large-Swap/src/findings.ts
  TraderJoe-Bots/Large-Swap/src/multicall2.ts
  TraderJoe-Bots/Large-Swap/src/network.spec.ts
  TraderJoe-Bots/Large-Swap/src/network.ts
  TraderJoe-Bots/Large-Swap/src/utils.ts
  TraderJoe-Bots/Large-Swap/tsconfig.json
Labels: TraderJoe

#251 GMX02 - close position
  GMX-Bots/Large-size-decrease/.dockerignore
  GMX-Bots/Large-size-decrease/.gitignore
  GMX-Bots/Large-size-decrease/.prettierrc
  GMX-Bots/Large-size-decrease/Dockerfile
  GMX-Bots/Large-size-decrease/README.md
  GMX-Bots/Large-size-decrease/jest.config.js
  GMX-Bots/Large-size-decrease/package-lock.json
  GMX-Bots/Large-size-decrease/package.json
  GMX-Bots/Large-size-decrease/src/agent.spec.ts
  GMX-Bots/Large-size-decrease/src/agent.ts
  GMX-Bots/Large-size-decrease/src/network.ts
  GMX-Bots/Large-size-decrease/src/utils.ts
  GMX-Bots/Large-size-decrease/tsconfig.json
Labels: gmx

#267 Unusual PnL
  GMX-Bots/Unusual_PnL/.dockerignore
  GMX-Bots/Unusual_PnL/.gitignore
  GMX-Bots/Unusual_PnL/.prettierrc
  GMX-Bots/Unusual_PnL/Dockerfile
  GMX-Bots/Unusual_PnL/README.md
  GMX-Bots/Unusual_PnL/jest.config.js
  GMX-Bots/Unusual_PnL/package-lock.json
  GMX-Bots/Unusual_PnL/package.json
  GMX-Bots/Unusual_PnL/src/agent.spec.ts
  GMX-Bots/Unusual_PnL/src/agent.ts
  GMX-Bots/Unusual_PnL/src/network.ts
  GMX-Bots/Unusual_PnL/src/utils.ts
  GMX-Bots/Unusual_PnL/tsconfig.json
Labels: gmx

#279 BENQI 03 updates
  Benqi-Agents/Qi-Transfers/README.md
  Benqi-Agents/Qi-Transfers/package-lock.json
  Benqi-Agents/Qi-Transfers/package.json
Labels: Benqi

#278 BENQI05 updates
  Benqi-Agents/Large-Pool-Withdrawal/README.md
  Benqi-Agents/Large-Pool-Withdrawal/package-lock.json
  Benqi-Agents/Large-Pool-Withdrawal/package.json
  Benqi-Agents/Large-Pool-Withdrawal/src/agent.ts
Labels: Benqi

#277 BENQI08 Updates
  Benqi-Agents/Large-Mint-Burn/README.md
  Benqi-Agents/Large-Mint-Burn/package-lock.json
  Benqi-Agents/Large-Mint-Burn/package.json
  Benqi-Agents/Large-Mint-Burn/src/agent.ts
Labels: Benqi

#276 BENQI 04 updates
  Benqi-Agents/Large-Grant/README.md
  Benqi-Agents/Large-Grant/package-lock.json
  Benqi-Agents/Large-Grant/package.json
  Benqi-Agents/Large-Grant/src/agent.config.ts
  Benqi-Agents/Large-Grant/src/finding.ts
Labels: Benqi

#275 BENQI 07 - Updates
  Benqi-Agents/Large-Deposits-Redeems/README.md
  Benqi-Agents/Large-Deposits-Redeems/package-lock.json
  Benqi-Agents/Large-Deposits-Redeems/package.json
Labels: Benqi

#274 BENQI 1 Updates
  Benqi-Agents/Large-Delegate-Votes-Change/README.md
  Benqi-Agents/Large-Delegate-Votes-Change/package-lock.json
  Benqi-Agents/Large-Delegate-Votes-Change/package.json
Labels: Benqi

#273 BENQI09 updates
  Benqi-Agents/Flash-Swap/README.md
  Benqi-Agents/Flash-Swap/package-lock.json
  Benqi-Agents/Flash-Swap/package.json
Labels: Benqi

#272 BENQI 02- Updates
  Benqi-Agents/Delegation-Monitor/README.md
  Benqi-Agents/Delegation-Monitor/package-lock.json
  Benqi-Agents/Delegation-Monitor/package.json
Labels: Benqi

#280 BENQI 06 Updates
  Benqi-Agents/Interest-Rates-Monitor/PoC/TestComptroller.sol
  Benqi-Agents/Interest-Rates-Monitor/README.md
  Benqi-Agents/Interest-Rates-Monitor/package-lock.json
  Benqi-Agents/Interest-Rates-Monitor/package.json
  Benqi-Agents/Interest-Rates-Monitor/src/agent.spec.ts
  Benqi-Agents/Interest-Rates-Monitor/src/agent.ts
  Benqi-Agents/Interest-Rates-Monitor/src/fetcher.spec.ts
  Benqi-Agents/Interest-Rates-Monitor/src/fetcher.ts
  Benqi-Agents/Interest-Rates-Monitor/src/findings.ts
  Benqi-Agents/Interest-Rates-Monitor/src/utils.ts
Labels: Benqi

#290 BAL07 - Large BAL Transfer
  Balancer-Bots/Large-BAL-Transfer/.dockerignore
  Balancer-Bots/Large-BAL-Transfer/.gitignore
  Balancer-Bots/Large-BAL-Transfer/.prettierrc
  Balancer-Bots/Large-BAL-Transfer/Dockerfile
  Balancer-Bots/Large-BAL-Transfer/PoC/TestBalancerToken.sol
  Balancer-Bots/Large-BAL-Transfer/README.md
  Balancer-Bots/Large-BAL-Transfer/jest.config.js
  Balancer-Bots/Large-BAL-Transfer/package-lock.json
  Balancer-Bots/Large-BAL-Transfer/package.json
  Balancer-Bots/Large-BAL-Transfer/src/agent.config.ts
  Balancer-Bots/Large-BAL-Transfer/src/agent.spec.ts
  Balancer-Bots/Large-BAL-Transfer/src/agent.ts
  Balancer-Bots/Large-BAL-Transfer/src/constants.ts
  Balancer-Bots/Large-BAL-Transfer/src/findings.ts
  Balancer-Bots/Large-BAL-Transfer/src/utils.ts
  Balancer-Bots/Large-BAL-Transfer/tsconfig.json
Labels: Balancer

#295 BAL09 - Stable Pool De-pegging
  Balancer-Bots/Stable-Pool-Depegging/.dockerignore
  Balancer-Bots/Stable-Pool-Depegging/.gitignore
  Balancer-Bots/Stable-Pool-Depegging/.prettierrc
  Balancer-Bots/Stable-Pool-Depegging/Dockerfile
  Balancer-Bots/Stable-Pool-Depegging/PoC/MockStablePoolGroup.sol
  Balancer-Bots/Stable-Pool-Depegging/README.md
  Balancer-Bots/Stable-Pool-Depegging/jest.config.js
  Balancer-Bots/Stable-Pool-Depegging/package-lock.json
  Balancer-Bots/Stable-Pool-Depegging/package.json
  Balancer-Bots/Stable-Pool-Depegging/src/agent.config.ts
  Balancer-Bots/Stable-Pool-Depegging/src/agent.spec.ts
  Balancer-Bots/Stable-Pool-Depegging/src/agent.ts
  Balancer-Bots/Stable-Pool-Depegging/src/constants.ts
  Balancer-Bots/Stable-Pool-Depegging/src/finding.ts
  Balancer-Bots/Stable-Pool-Depegging/src/utils.ts
  Balancer-Bots/Stable-Pool-Depegging/tsconfig.json
Labels: Balancer

#289 BAL08 - Large Delegation
  Balancer-Bots/Large-Delegation/.dockerignore
  Balancer-Bots/Large-Delegation/.gitignore
  Balancer-Bots/Large-Delegation/.prettierrc
  Balancer-Bots/Large-Delegation/Dockerfile
  Balancer-Bots/Large-Delegation/PoC/MockDelegation.sol
  Balancer-Bots/Large-Delegation/README.md
  Balancer-Bots/Large-Delegation/jest.config.js
  Balancer-Bots/Large-Delegation/package-lock.json
  Balancer-Bots/Large-Delegation/package.json
  Balancer-Bots/Large-Delegation/src/agent.config.ts
  Balancer-Bots/Large-Delegation/src/agent.spec.ts
  Balancer-Bots/Large-Delegation/src/agent.ts
  Balancer-Bots/Large-Delegation/src/constants.ts
  Balancer-Bots/Large-Delegation/src/finding.ts
  Balancer-Bots/Large-Delegation/src/utils.ts
  Balancer-Bots/Large-Delegation/tsconfig.json
Labels: Balancer

#284 BAL03 - Large Swap
  Balancer-Bots/Large-Swap/.dockerignore
  Balancer-Bots/Large-Swap/.gitignore
  Balancer-Bots/Large-Swap/.prettierrc
  Balancer-Bots/Large-Swap/Dockerfile
  Balancer-Bots/Large-Swap/PoC/MockVault.sol
  Balancer-Bots/Large-Swap/README.md
  Balancer-Bots/Large-Swap/jest.config.js
  Balancer-Bots/Large-Swap/package-lock.json
  Balancer-Bots/Large-Swap/package.json
  Balancer-Bots/Large-Swap/src/agent.config.ts
  Balancer-Bots/Large-Swap/src/agent.spec.ts
  Balancer-Bots/Large-Swap/src/agent.ts
  Balancer-Bots/Large-Swap/src/constants.ts
  Balancer-Bots/Large-Swap/src/finding.ts
  Balancer-Bots/Large-Swap/src/utils.ts
  Balancer-Bots/Large-Swap/tsconfig.json
Labels: Balancer

#281 BAL01 - Swap and Flash Loan Fee Change
  Balancer-Bots/Swap-FlashLoan-Fee-Change/.dockerignore
  Balancer-Bots/Swap-FlashLoan-Fee-Change/.gitignore
  Balancer-Bots/Swap-FlashLoan-Fee-Change/.prettierrc
  Balancer-Bots/Swap-FlashLoan-Fee-Change/Dockerfile
  Balancer-Bots/Swap-FlashLoan-Fee-Change/PoC/MockProtocolFeesCollector.sol
  Balancer-Bots/Swap-FlashLoan-Fee-Change/README.md
  Balancer-Bots/Swap-FlashLoan-Fee-Change/jest.config.js
  Balancer-Bots/Swap-FlashLoan-Fee-Change/package-lock.json
  Balancer-Bots/Swap-FlashLoan-Fee-Change/package.json
  Balancer-Bots/Swap-FlashLoan-Fee-Change/src/agent.config.ts
  Balancer-Bots/Swap-FlashLoan-Fee-Change/src/agent.spec.ts
  Balancer-Bots/Swap-FlashLoan-Fee-Change/src/agent.ts
  Balancer-Bots/Swap-FlashLoan-Fee-Change/src/constants.ts
  Balancer-Bots/Swap-FlashLoan-Fee-Change/src/finding.ts
  Balancer-Bots/Swap-FlashLoan-Fee-Change/src/utils.ts
  Balancer-Bots/Swap-FlashLoan-Fee-Change/tsconfig.json
Labels: Balancer

#287 BAL06 - Pool Registered
  Balancer-Bots/Pool-Registered/.dockerignore
  Balancer-Bots/Pool-Registered/.gitignore
  Balancer-Bots/Pool-Registered/.prettierrc
  Balancer-Bots/Pool-Registered/Dockerfile
  Balancer-Bots/Pool-Registered/PoC/MockVault.sol
  Balancer-Bots/Pool-Registered/README.md
  Balancer-Bots/Pool-Registered/jest.config.js
  Balancer-Bots/Pool-Registered/package-lock.json
  Balancer-Bots/Pool-Registered/package.json
  Balancer-Bots/Pool-Registered/src/agent.config.ts
  Balancer-Bots/Pool-Registered/src/agent.spec.ts
  Balancer-Bots/Pool-Registered/src/agent.ts
  Balancer-Bots/Pool-Registered/src/constants.ts
  Balancer-Bots/Pool-Registered/src/finding.ts
  Balancer-Bots/Pool-Registered/src/utils.ts
  Balancer-Bots/Pool-Registered/tsconfig.json
Labels: Balancer
