Repository NethermindEth/Forta-Agents, pull requests merged in 2022-05, with the labels that each got.

#208 Apeswap2 - address inclusion and exclusion
  Apeswap-Bots/Address-Inclusion-Exclusion-Detection/.dockerignore
  Apeswap-Bots/Address-Inclusion-Exclusion-Detection/.gitignore
  Apeswap-Bots/Address-Inclusion-Exclusion-Detection/.prettierrc
  Apeswap-Bots/Address-Inclusion-Exclusion-Detection/Dockerfile
  Apeswap-Bots/Address-Inclusion-Exclusion-Detection/README.md
  Apeswap-Bots/Address-Inclusion-Exclusion-Detection/jest.config.js
  Apeswap-Bots/Address-Inclusion-Exclusion-Detection/package-lock.json
  Apeswap-Bots/Address-Inclusion-Exclusion-Detection/package.json
  Apeswap-Bots/Address-Inclusion-Exclusion-Detection/src/agent.spec.ts
  Apeswap-Bots/Address-Inclusion-Exclusion-Detection/src/agent.ts
  Apeswap-Bots/Address-Inclusion-Exclusion-Detection/src/utils.ts
  Apeswap-Bots/Address-Inclusion-Exclusion-Detection/tsconfig.json
Labels: Apeswap

#212 Apeswap - Fee-related Factory Changes
  Apeswap-Bots/Fee-related-Factory-Changes/.dockerignore
  Apeswap-Bots/Fee-related-Factory-Changes/.gitignore
  Apeswap-Bots/Fee-related-Factory-Changes/.pretierrc
  Apeswap-Bots/Fee-related-Factory-Changes/Dockerfile
  Apeswap-Bots/Fee-related-Factory-Changes/PoC/ApeFactory.sol
  Apeswap-Bots/Fee-related-Factory-Changes/README.md
  Apeswap-Bots/Fee-related-Factory-Changes/jest.config.js
  Apeswap-Bots/Fee-related-Factory-Changes/package-lock.json
  Apeswap-Bots/Fee-related-Factory-Changes/package.json
  Apeswap-Bots/Fee-related-Factory-Changes/src/agent.spec.ts
  Apeswap-Bots/Fee-related-Factory-Changes/src/agent.ts
  Apeswap-Bots/Fee-related-Factory-Changes/src/network.ts
  Apeswap-Bots/Fee-related-Factory-Changes/src/utils.ts
  Apeswap-Bots/Fee-related-Factory-Changes/tsconfig.json
Labels: Apeswap

#200 Apeswap - Large LP Deposits/Withdrawals
  Apeswap-Bots/Large-LP-Deposits-Withdrawals/.dockerignore
  Apeswap-Bots/Large-LP-Deposits-Withdrawals/.gitignore
  Apeswap-Bots/Large-LP-Deposits-Withdrawals/.prettierrc
  Apeswap-Bots/Large-LP-Deposits-Withdrawals/Dockerfile
  Apeswap-Bots/Large-LP-Deposits-Withdrawals/README.md
  Apeswap-Bots/Large-LP-Deposits-Withdrawals/jest.config.js
  Apeswap-Bots/Large-LP-Deposits-Withdrawals/package-lock.json
  Apeswap-Bots/Large-LP-Deposits-Withdrawals/package.json
  Apeswap-Bots/Large-LP-Deposits-Withdrawals/src/agent.spec.ts
  Apeswap-Bots/Large-LP-Deposits-Withdrawals/src/agent.ts
  Apeswap-Bots/Large-LP-Deposits-Withdrawals/src/network.ts
  Apeswap-Bots/Large-LP-Deposits-Withdrawals/src/pool.fetcher.spec.ts
  Apeswap-Bots/Large-LP-Deposits-Withdrawals/src/pool.fetcher.ts
  Apeswap-Bots/Large-LP-Deposits-Withdrawals/src/utils.ts
  Apeswap-Bots/Large-LP-Deposits-Withdrawals/tsconfig.json
Labels: Apeswap

#207 Apeswap - Role Changes
  Apeswap-Bots/Role-Changes/.dockerignore
  Apeswap-Bots/Role-Changes/.gitignore
  Apeswap-Bots/Role-Changes/.prettierrc
  Apeswap-Bots/Role-Changes/Dockerfile
  Apeswap-Bots/Role-Changes/PoC/MasterApe.sol
  Apeswap-Bots/Role-Changes/PoC/MasterApeAdmin.sol
  Apeswap-Bots/Role-Changes/README.md
  Apeswap-Bots/Role-Changes/jest.config.js
  Apeswap-Bots/Role-Changes/package-lock.json
  Apeswap-Bots/Role-Changes/package.json
  Apeswap-Bots/Role-Changes/src/agent.spec.ts
  Apeswap-Bots/Role-Changes/src/agent.ts
  Apeswap-Bots/Role-Changes/src/network.ts
  Apeswap-Bots/Role-Changes/src/utils.ts
  Apeswap-Bots/Role-Changes/tsconfig.json
Labels: Apeswap

#210 DD16 - Large Borrower Allocation
  DYDX-Bots/Large_Borrower_Allocation/.dockerignore
  DYDX-Bots/Large_Borrower_Allocation/.gitignore
  DYDX-Bots/Large_Borrower_Allocation/.prettierrc
  DYDX-Bots/Large_Borrower_Allocation/Dockerfile
  DYDX-Bots/Large_Borrower_Allocation/PoC/TestImplementation.sol
  DYDX-Bots/Large_Borrower_Allocation/PoC/TestProxy.sol
  DYDX-Bots/Large_Borrower_Allocation/README.md
  DYDX-Bots/Large_Borrower_Allocation/jest.config.js
  DYDX-Bots/Large_Borrower_Allocation/package-lock.json
  DYDX-Bots/Large_Borrower_Allocation/package.json
  DYDX-Bots/Large_Borrower_Allocation/src/agent.spec.ts
  DYDX-Bots/Large_Borrower_Allocation/src/agent.ts
  DYDX-Bots/Large_Borrower_Allocation/src/findings.ts
  DYDX-Bots/Large_Borrower_Allocation/src/network.spec.ts
  DYDX-Bots/Large_Borrower_Allocation/src/network.ts
  DYDX-Bots/Large_Borrower_Allocation/src/utils.ts
  DYDX-Bots/Large_Borrower_Allocation/tsconfig.json
Labels: dYdX

#211 DD17 - Parameter Changes Monitor
  DYDX-Bots/Parameter_Changes_Monitor/.dockerignore
  DYDX-Bots/Parameter_Changes_Monitor/.gitignore
  DYDX-Bots/Parameter_Changes_Monitor/.prettierrc
  DYDX-Bots/Parameter_Changes_Monitor/Dockerfile
  DYDX-Bots/Parameter_Changes_Monitor/PoC/TestImplementation.sol
  DYDX-Bots/Parameter_Changes_Monitor/PoC/TestProxy.sol
  DYDX-Bots/Parameter_Changes_Monitor/README.md
  DYDX-Bots/Parameter_Changes_Monitor/jest.config.js
  DYDX-Bots/Parameter_Changes_Monitor/package-lock.json
  DYDX-Bots/Parameter_Changes_Monitor/package.json
  DYDX-Bots/Parameter_Changes_Monitor/src/agent.spec.ts
  DYDX-Bots/Parameter_Changes_Monitor/src/agent.ts
  DYDX-Bots/Parameter_Changes_Monitor/src/findings.ts
  DYDX-Bots/Parameter_Changes_Monitor/src/network.spec.ts
  DYDX-Bots/Parameter_Changes_Monitor/src/network.ts
  DYDX-Bots/Parameter_Changes_Monitor/src/utils.ts
  DYDX-Bots/Parameter_Changes_Monitor/tsconfig.json
Labels: dYdX

#203 DD02 - Frozen state Monitor
  DYDX-Bots/Frozen-monitor/.dockerignore
  DYDX-Bots/Frozen-monitor/.gitignore
  DYDX-Bots/Frozen-monitor/.prettierrc
  DYDX-Bots/Frozen-monitor/Dockerfile
  DYDX-Bots/Frozen-monitor/PoC/Proxy.sol
  DYDX-Bots/Frozen-monitor/PoC/StarkPerpetual.sol
  DYDX-Bots/Frozen-monitor/README.md
  DYDX-Bots/Frozen-monitor/jest.config.js
  DYDX-Bots/Frozen-monitor/package-lock.json
  DYDX-Bots/Frozen-monitor/package.json
  DYDX-Bots/Frozen-monitor/src/agent.spec.ts
  DYDX-Bots/Frozen-monitor/src/agent.ts
  DYDX-Bots/Frozen-monitor/src/network.spec.ts
  DYDX-Bots/Frozen-monitor/src/network.ts
  DYDX-Bots/Frozen-monitor/tsconfig.json
Labels: dYdX

#221 Apeswap - Tokens Ownership Changes
  Apeswap-Bots/Tokens-Ownership-Changes/.dockerignore
  Apeswap-Bots/Tokens-Ownership-Changes/.gitignore
  Apeswap-Bots/Tokens-Ownership-Changes/.pretierrc
  Apeswap-Bots/Tokens-Ownership-Changes/Dockerfile
  Apeswap-Bots/Tokens-Ownership-Changes/PoC/AnyswapV5ERC20.sol
  Apeswap-Bots/Tokens-Ownership-Changes/PoC/BananaToken.sol
  Apeswap-Bots/Tokens-Ownership-Changes/PoC/GoldenBanana.sol
  Apeswap-Bots/Tokens-Ownership-Changes/README.md
  Apeswap-Bots/Tokens-Ownership-Changes/jest.config.js
  Apeswap-Bots/Tokens-Ownership-Changes/package-lock.json
  Apeswap-Bots/Tokens-Ownership-Changes/package.json
  Apeswap-Bots/Tokens-Ownership-Changes/src/agent.spec.ts
  Apeswap-Bots/Tokens-Ownership-Changes/src/agent.ts
  Apeswap-Bots/Tokens-Ownership-Changes/src/finding.ts
  Apeswap-Bots/Tokens-Ownership-Changes/src/network.ts
  Apeswap-Bots/Tokens-Ownership-Changes/src/utils.ts
  Apeswap-Bots/Tokens-Ownership-Changes/tsconfig.json
Labels: Apeswap

#216 Apeswap - New Pair Creation
  Apeswap-Bots/.gitkeep
  Apeswap-Bots/New-Pair-Creation/.dockerignore
  Apeswap-Bots/New-Pair-Creation/.gitignore
  Apeswap-Bots/New-Pair-Creation/.prettierrc
  Apeswap-Bots/New-Pair-Creation/Dockerfile
  Apeswap-Bots/New-Pair-Creation/README.md
  Apeswap-Bots/New-Pair-Creation/jest.config.js
  Apeswap-Bots/New-Pair-Creation/package-lock.json
  Apeswap-Bots/New-Pair-Creation/package.json
  Apeswap-Bots/New-Pair-Creation/src/agent.spec.ts
  Apeswap-Bots/New-Pair-Creation/src/agent.ts
  Apeswap-Bots/New-Pair-Creation/src/constants.ts
  Apeswap-Bots/New-Pair-Creation/src/network.ts
  Apeswap-Bots/New-Pair-Creation/src/utils.ts
  Apeswap-Bots/New-Pair-Creation/tsconfig.json
Labels: Apeswap

#223 Apeswap - New bonus multiplier
  Apeswap-Bots/New-Bonus-Multiplier/.dockerignore
  Apeswap-Bots/New-Bonus-Multiplier/.gitignore
  Apeswap-Bots/New-Bonus-Multiplier/.prettierrc
  Apeswap-Bots/New-Bonus-Multiplier/Dockerfile
  Apeswap-Bots/New-Bonus-Multiplier/PoC/MasterApe.sol
  Apeswap-Bots/New-Bonus-Multiplier/README.md
  Apeswap-Bots/New-Bonus-Multiplier/jest.config.js
  Apeswap-Bots/New-Bonus-Multiplier/package-lock.json
  Apeswap-Bots/New-Bonus-Multiplier/package.json
  Apeswap-Bots/New-Bonus-Multiplier/src/agent.spec.ts
  Apeswap-Bots/New-Bonus-Multiplier/src/agent.ts
  Apeswap-Bots/New-Bonus-Multiplier/src/network.ts
  Apeswap-Bots/New-Bonus-Multiplier/src/utils.ts
  Apeswap-Bots/New-Bonus-Multiplier/tsconfig.json
Labels: Apeswap

#205 DD04 - Operator Monitor
  DYDX-Bots/Operator-monitor/.dockerignore
  DYDX-Bots/Operator-monitor/.gitignore
  DYDX-Bots/Operator-monitor/.prettierrc
  DYDX-Bots/Operator-monitor/Dockerfile
  DYDX-Bots/Operator-monitor/PoC/Proxy.sol
  DYDX-Bots/Operator-monitor/PoC/StarkPerpetual.sol
  DYDX-Bots/Operator-monitor/README.md
  DYDX-Bots/Operator-monitor/jest.config.js
  DYDX-Bots/Operator-monitor/package-lock.json
  DYDX-Bots/Operator-monitor/package.json
  DYDX-Bots/Operator-monitor/src/agent.spec.ts
  DYDX-Bots/Operator-monitor/src/agent.ts
  DYDX-Bots/Operator-monitor/src/network.spec.ts
  DYDX-Bots/Operator-monitor/src/network.ts
  DYDX-Bots/Operator-monitor/tsconfig.json
Labels: dYdX

#204 DD03 - Global configuration Monitor
  DYDX-Bots/Configuration-Monitor/.dockerignore
  DYDX-Bots/Configuration-Monitor/.gitignore
  DYDX-Bots/Configuration-Monitor/.prettierrc
  DYDX-Bots/Configuration-Monitor/Dockerfile
  DYDX-Bots/Configuration-Monitor/PoC/Proxy.sol
  DYDX-Bots/Configuration-Monitor/PoC/StarkPerpetual.sol
  DYDX-Bots/Configuration-Monitor/README.md
  DYDX-Bots/Configuration-Monitor/jest.config.js
  DYDX-Bots/Configuration-Monitor/package-lock.json
  DYDX-Bots/Configuration-Monitor/package.json
  DYDX-Bots/Configuration-Monitor/src/agent.spec.ts
  DYDX-Bots/Configuration-Monitor/src/agent.ts
  DYDX-Bots/Configuration-Monitor/src/network.spec.ts
  DYDX-Bots/Configuration-Monitor/src/network.ts
  DYDX-Bots/Configuration-Monitor/tsconfig.json
Labels: dYdX

#201 DD15 - Insolvent Contract
  DYDX-Bots/Insolvent_Contract/.dockerignore
  DYDX-Bots/Insolvent_Contract/.gitignore
  DYDX-Bots/Insolvent_Contract/.prettierrc
  DYDX-Bots/Insolvent_Contract/Dockerfile
  DYDX-Bots/Insolvent_Contract/PoC/TestImplementation.sol
  DYDX-Bots/Insolvent_Contract/PoC/TestProxy.sol
  DYDX-Bots/Insolvent_Contract/README.md
  DYDX-Bots/Insolvent_Contract/jest.config.js
  DYDX-Bots/Insolvent_Contract/package-lock.json
  DYDX-Bots/Insolvent_Contract/package.json
  DYDX-Bots/Insolvent_Contract/src/agent.spec.ts
  DYDX-Bots/Insolvent_Contract/src/agent.ts
  DYDX-Bots/Insolvent_Contract/src/balance.fetcher.spec.ts
  DYDX-Bots/Insolvent_Contract/src/balance.fetcher.ts
  DYDX-Bots/Insolvent_Contract/src/findings.ts
  DYDX-Bots/Insolvent_Contract/src/network.spec.ts
  DYDX-Bots/Insolvent_Contract/src/network.ts
  DYDX-Bots/Insolvent_Contract/src/utils.ts
  DYDX-Bots/Insolvent_Contract/tsconfig.json
Labels: dYdX

#218 DD18 - Roles Monitor
  DYDX-Bots/Roles_Monitor/.dockerignore
  DYDX-Bots/Roles_Monitor/.gitignore
  DYDX-Bots/Roles_Monitor/.prettierrc
  DYDX-Bots/Roles_Monitor/Dockerfile
  DYDX-Bots/Roles_Monitor/PoC/TestImplementation.sol
  DYDX-Bots/Roles_Monitor/PoC/TestProxy.sol
  DYDX-Bots/Roles_Monitor/README.md
  DYDX-Bots/Roles_Monitor/jest.config.js
  DYDX-Bots/Roles_Monitor/package-lock.json
  DYDX-Bots/Roles_Monitor/package.json
  DYDX-Bots/Roles_Monitor/src/agent.spec.ts
  DYDX-Bots/Roles_Monitor/src/agent.ts
  DYDX-Bots/Roles_Monitor/src/findings.ts
  DYDX-Bots/Roles_Monitor/src/network.spec.ts
  DYDX-Bots/Roles_Monitor/src/network.ts
  DYDX-Bots/Roles_Monitor/src/utils.ts
  DYDX-Bots/Roles_Monitor/tsconfig.json
Labels: dYdX

#220 DD19 - Approve spendings
  DYDX-Bots/Approve_Spending_Monitor/.dockerignore
  DYDX-Bots/Approve_Spending_Monitor/.gitignore
  DYDX-Bots/Approve_Spending_Monitor/.prettierrc
  DYDX-Bots/Approve_Spending_Monitor/Dockerfile
  DYDX-Bots/Approve_Spending_Monitor/README.md
  DYDX-Bots/Approve_Spending_Monitor/jest.config.js
  DYDX-Bots/Approve_Spending_Monitor/package-lock.json
  DYDX-Bots/Approve_Spending_Monitor/package.json
  DYDX-Bots/Approve_Spending_Monitor/src/PoC/testModule.sol
  DYDX-Bots/Approve_Spending_Monitor/src/PoC/testToken.sol
  DYDX-Bots/Approve_Spending_Monitor/src/agent.spec.ts
  DYDX-Bots/Approve_Spending_Monitor/src/agent.ts
  DYDX-Bots/Approve_Spending_Monitor/src/balance.fetcher.spec.ts
  DYDX-Bots/Approve_Spending_Monitor/src/balance.fetcher.ts
  DYDX-Bots/Approve_Spending_Monitor/src/findings.ts
  DYDX-Bots/Approve_Spending_Monitor/src/network.spec.ts
  DYDX-Bots/Approve_Spending_Monitor/src/network.ts
  DYDX-Bots/Approve_Spending_Monitor/src/utils.ts
  DYDX-Bots/Approve_Spending_Monitor/tsconfig.json
Labels: dYdX

#206 DD13 - Large Inactive balance
  DYDX-Bots/Large-Inactive-Balance/.dockerignore
  DYDX-Bots/Large-Inactive-Balance/.gitignore
  DYDX-Bots/Large-Inactive-Balance/.prettierrc
  DYDX-Bots/Large-Inactive-Balance/Dockerfile
  DYDX-Bots/Large-Inactive-Balance/PoC/TestSafetyModule.sol
  DYDX-Bots/Large-Inactive-Balance/PoC/TestToken.sol
  DYDX-Bots/Large-Inactive-Balance/README.md
  DYDX-Bots/Large-Inactive-Balance/jest.config.js
  DYDX-Bots/Large-Inactive-Balance/package-lock.json
  DYDX-Bots/Large-Inactive-Balance/package.json
  DYDX-Bots/Large-Inactive-Balance/src/agent.spec.ts
  DYDX-Bots/Large-Inactive-Balance/src/agent.ts
  DYDX-Bots/Large-Inactive-Balance/src/balance.fetcher.spec.ts
  DYDX-Bots/Large-Inactive-Balance/src/balance.fetcher.ts
  DYDX-Bots/Large-Inactive-Balance/src/config.ts
  DYDX-Bots/Large-Inactive-Balance/src/inactive.balance.fetcher.spec.ts
  DYDX-Bots/Large-Inactive-Balance/src/inactive.balance.fetcher.ts
  DYDX-Bots/Large-Inactive-Balance/src/network.spec.ts
  DYDX-Bots/Large-Inactive-Balance/src/network.ts
  DYDX-Bots/Large-Inactive-Balance/src/utils.ts
  DYDX-Bots/Large-Inactive-Balance/tsconfig.json
Labels: dYdX

#228 DD11 - Large DYDX Staking/Withdrawals
  DYDX-Bots/Large_dYdX_Staking-Withdrawals/.dockerignore
  DYDX-Bots/Large_dYdX_Staking-Withdrawals/.gitignore
  DYDX-Bots/Large_dYdX_Staking-Withdrawals/.prettierrc
  DYDX-Bots/Large_dYdX_Staking-Withdrawals/Dockerfile
  DYDX-Bots/Large_dYdX_Staking-Withdrawals/PoC/TestImplementation.sol
  DYDX-Bots/Large_dYdX_Staking-Withdrawals/PoC/TestProxy.sol
  DYDX-Bots/Large_dYdX_Staking-Withdrawals/PoC/TestToken.sol
  DYDX-Bots/Large_dYdX_Staking-Withdrawals/README.md
  DYDX-Bots/Large_dYdX_Staking-Withdrawals/jest.config.js
  DYDX-Bots/Large_dYdX_Staking-Withdrawals/package-lock.json
  DYDX-Bots/Large_dYdX_Staking-Withdrawals/package.json
  DYDX-Bots/Large_dYdX_Staking-Withdrawals/src/agent.spec.ts
  DYDX-Bots/Large_dYdX_Staking-Withdrawals/src/agent.ts
  DYDX-Bots/Large_dYdX_Staking-Withdrawals/src/balance.fetcher.spec.ts
  DYDX-Bots/Large_dYdX_Staking-Withdrawals/src/balance.fetcher.ts
  DYDX-Bots/Large_dYdX_Staking-Withdrawals/src/config.ts
  DYDX-Bots/Large_dYdX_Staking-Withdrawals/src/findings.ts
  DYDX-Bots/Large_dYdX_Staking-Withdrawals/src/network.spec.ts
  DYDX-Bots/Large_dYdX_Staking-Withdrawals/src/network.ts
  DYDX-Bots/Large_dYdX_Staking-Withdrawals/src/utils.ts
  DYDX-Bots/Large_dYdX_Staking-Withdrawals/tsconfig.json
Labels: dYdX

#222 DD12 - Slashed dYdX
  DYDX-Bots/Slashed_dYdX/.dockerignore
  DYDX-Bots/Slashed_dYdX/.gitignore
  DYDX-Bots/Slashed_dYdX/.prettierrc
  DYDX-Bots/Slashed_dYdX/Dockerfile
  DYDX-Bots/Slashed_dYdX/PoC/TestImplementation.sol
  DYDX-Bots/Slashed_dYdX/PoC/TestProxy.sol
  DYDX-Bots/Slashed_dYdX/README.md
  DYDX-Bots/Slashed_dYdX/jest.config.js
  DYDX-Bots/Slashed_dYdX/package-lock.json
  DYDX-Bots/Slashed_dYdX/package.json
  DYDX-Bots/Slashed_dYdX/src/agent.spec.ts
  DYDX-Bots/Slashed_dYdX/src/agent.ts
  DYDX-Bots/Slashed_dYdX/src/findings.ts
  DYDX-Bots/Slashed_dYdX/src/network.spec.ts
  DYDX-Bots/Slashed_dYdX/src/network.ts
  DYDX-Bots/Slashed_dYdX/src/utils.ts
  DYDX-Bots/Slashed_dYdX/tsconfig.json
Labels: dYdX

#229 DD01 - Perpetual Large deposits-withdrawals
  DYDX-Bots/Perpetual-Large-Deposits-Withdrawals/.dockerignore
  DYDX-Bots/Perpetual-Large-Deposits-Withdrawals/.gitignore
  DYDX-Bots/Perpetual-Large-Deposits-Withdrawals/.prettierrc
  DYDX-Bots/Perpetual-Large-Deposits-Withdrawals/Dockerfile
  DYDX-Bots/Perpetual-Large-Deposits-Withdrawals/PoC/Proxy.sol
  DYDX-Bots/Perpetual-Large-Deposits-Withdrawals/PoC/StarkPerpetual.sol
  DYDX-Bots/Perpetual-Large-Deposits-Withdrawals/PoC/TestToken.sol
  DYDX-Bots/Perpetual-Large-Deposits-Withdrawals/README.md
  DYDX-Bots/Perpetual-Large-Deposits-Withdrawals/jest.config.js
  DYDX-Bots/Perpetual-Large-Deposits-Withdrawals/package-lock.json
  DYDX-Bots/Perpetual-Large-Deposits-Withdrawals/package.json
  DYDX-Bots/Perpetual-Large-Deposits-Withdrawals/src/agent.spec.ts
  DYDX-Bots/Perpetual-Large-Deposits-Withdrawals/src/agent.ts
  DYDX-Bots/Perpetual-Large-Deposits-Withdrawals/src/balance.fetcher.spec.ts
  DYDX-Bots/Perpetual-Large-Deposits-Withdrawals/src/balance.fetcher.ts
  DYDX-Bots/Perpetual-Large-Deposits-Withdrawals/src/config.ts
  DYDX-Bots/Perpetual-Large-Deposits-Withdrawals/src/findings.ts
  DYDX-Bots/Perpetual-Large-Deposits-Withdrawals/src/network.spec.ts
  DYDX-Bots/Perpetual-Large-Deposits-Withdrawals/src/network.ts
  DYDX-Bots/Perpetual-Large-Deposits-Withdrawals/src/token.address.fetcher.spec.ts
  DYDX-Bots/Perpetual-Large-Deposits-Withdrawals/src/token.address.fetcher.ts
  DYDX-Bots/Perpetual-Large-Deposits-Withdrawals/src/utils.ts
  DYDX-Bots/Perpetual-Large-Deposits-Withdrawals/tsconfig.json
Labels: dYdX

#234 [Update] DD14 - Large USDC Deposit/Withdrawals
  DYDX-Bots/Large_USDC_Staking-Withdrawals/README.md
  DYDX-Bots/Large_USDC_Staking-Withdrawals/src/agent.spec.ts
  DYDX-Bots/Large_USDC_Staking-Withdrawals/src/agent.ts
  DYDX-Bots/Large_USDC_Staking-Withdrawals/src/config.ts
  DYDX-Bots/Large_USDC_Staking-Withdrawals/src/utils.ts
Labels: dYdX

#238 IF Updates - Dangerous activities
  Impossible-Finance-Agents/Dangerous-Activities/.prettierrc
  Impossible-Finance-Agents/Dangerous-Activities/README.md
  Impossible-Finance-Agents/Dangerous-Activities/package-lock.json
  Impossible-Finance-Agents/Dangerous-Activities/package.json
  Impossible-Finance-Agents/Dangerous-Activities/src/agent.spec.ts
  Impossible-Finance-Agents/Dangerous-Activities/src/agent.ts
  Impossible-Finance-Agents/Dangerous-Activities/src/darklist.verifier.spec.ts
  Impossible-Finance-Agents/Dangerous-Activities/src/darklist.verifier.ts
  Impossible-Finance-Agents/Dangerous-Activities/src/utils.ts
Labels: Impossible

#239 IF Updates - Gas control
  Impossible-Finance-Agents/Gas-Control-Agent/.prettierrc
  Impossible-Finance-Agents/Gas-Control-Agent/README.md
  Impossible-Finance-Agents/Gas-Control-Agent/package-lock.json
  Impossible-Finance-Agents/Gas-Control-Agent/package.json
  Impossible-Finance-Agents/Gas-Control-Agent/src/agent.spec.ts
  Impossible-Finance-Agents/Gas-Control-Agent/src/agent.ts
  Impossible-Finance-Agents/Gas-Control-Agent/src/utils.ts
Labels: Impossible

#242 IF Updates - flash loan
  Impossible-Finance-Agents/Flash-Loan/README.md
  Impossible-Finance-Agents/Flash-Loan/package-lock.json
  Impossible-Finance-Agents/Flash-Loan/package.json
  Impossible-Finance-Agents/Flash-Loan/src/agent.spec.ts
  Impossible-Finance-Agents/Flash-Loan/src/agent.ts
  Impossible-Finance-Agents/Flash-Loan/src/utils.ts
Labels: Impossible

#237 IF updates - Large deposits-withdrawals on pairs
  Impossible-Finance-Agents/Large-Deposit-Withdraw-On-Pairs/.prettierrc
  Impossible-Finance-Agents/Large-Deposit-Withdraw-On-Pairs/README.md
  Impossible-Finance-Agents/Large-Deposit-Withdraw-On-Pairs/package-lock.json
  Impossible-Finance-Agents/Large-Deposit-Withdraw-On-Pairs/package.json
  Impossible-Finance-Agents/Large-Deposit-Withdraw-On-Pairs/src/abi.ts
  Impossible-Finance-Agents/Large-Deposit-Withdraw-On-Pairs/src/agent.spec.ts
  Impossible-Finance-Agents/Large-Deposit-Withdraw-On-Pairs/src/agent.ts
  Impossible-Finance-Agents/Large-Deposit-Withdraw-On-Pairs/src/findings.ts
  Impossible-Finance-Agents/Large-Deposit-Withdraw-On-Pairs/src/mock.provider.ts
  Impossible-Finance-Agents/Large-Deposit-Withdraw-On-Pairs/src/pairs.fetcher.spec.ts
  Impossible-Finance-Agents/Large-Deposit-Withdraw-On-Pairs/src/pairs.fetcher.ts
Labels: Impossible

#246 IF Updates - Large deposit withdrawals
  Impossible-Finance-Agents/Large-Deposits-Withdraws/.prettierrc
  Impossible-Finance-Agents/Large-Deposits-Withdraws/README.md
  Impossible-Finance-Agents/Large-Deposits-Withdraws/package-lock.json
  Impossible-Finance-Agents/Large-Deposits-Withdraws/package.json
  Impossible-Finance-Agents/Large-Deposits-Withdraws/src/agent.spec.ts
  Impossible-Finance-Agents/Large-Deposits-Withdraws/src/agent.ts
  Impossible-Finance-Agents/Large-Deposits-Withdraws/src/large.sales.handler.ts
  Impossible-Finance-Agents/Large-Deposits-Withdraws/src/large.staking.handler.ts
  Impossible-Finance-Agents/Large-Deposits-Withdraws/src/sales.fetcher.spec.ts
  Impossible-Finance-Agents/Large-Deposits-Withdraws/src/sales.fetcher.ts
  Impossible-Finance-Agents/Large-Deposits-Withdraws/src/stake.fetcher.spec.ts
  Impossible-Finance-Agents/Large-Deposits-Withdraws/src/stake.fetcher.ts
  Impossible-Finance-Agents/Large-Deposits-Withdraws/src/utils.ts
Labels: Impossible

#202 Apeswap - Large Balance
  .DS_Store
  Apeswap-Bots/Large-Balance/Dockerfile
  Apeswap-Bots/Large-Balance/PoC/GnanaToken.sol
  Apeswap-Bots/Large-Balance/README.md
  Apeswap-Bots/Large-Balance/jest.config.js
  Apeswap-Bots/Large-Balance/package-lock.json
  Apeswap-Bots/Large-Balance/package.json
  Apeswap-Bots/Large-Balance/src/.prettierrc
  Apeswap-Bots/Large-Balance/src/agent.spec.ts
  Apeswap-Bots/Large-Balance/src/agent.ts
  Apeswap-Bots/Large-Balance/src/data.fetcher.spec.ts
  Apeswap-Bots/Large-Balance/src/data.fetcher.ts
  Apeswap-Bots/Large-Balance/src/network.spec.ts
  Apeswap-Bots/Large-Balance/src/network.ts
  Apeswap-Bots/Large-Balance/src/utils.ts
  Apeswap-Bots/Large-Balance/tsconfig.json
Labels: Apeswap
