Repository NethermindEth/Forta-Agents, pull requests merged in 2022-02, with the labels that each got.

#130 New Pair
  Impossible-Agent-Suite/new-pair/.dockerignore
  Impossible-Agent-Suite/new-pair/.gitignore
  Impossible-Agent-Suite/new-pair/Dockerfile
  Impossible-Agent-Suite/new-pair/README.md
  Impossible-Agent-Suite/new-pair/jest.config.js
  Impossible-Agent-Suite/new-pair/package-lock.json
  Impossible-Agent-Suite/new-pair/package.json
  Impossible-Agent-Suite/new-pair/src/agent.spec.ts
  Impossible-Agent-Suite/new-pair/src/agent.ts
  Impossible-Agent-Suite/new-pair/tsconfig.json
Labels: Impossible

#128 Keeper Topup Monitor
  Pickle-Finance-Agents/KTM/.dockerignore
  Pickle-Finance-Agents/KTM/.gitignore
  Pickle-Finance-Agents/KTM/Dockerfile
  Pickle-Finance-Agents/KTM/README.md
  Pickle-Finance-Agents/KTM/jest.config.js
  Pickle-Finance-Agents/KTM/package-lock.json
  Pickle-Finance-Agents/KTM/package.json
  Pickle-Finance-Agents/KTM/src/abi.ts
  Pickle-Finance-Agents/KTM/src/agent.spec.ts
  Pickle-Finance-Agents/KTM/src/agent.ts
  Pickle-Finance-Agents/KTM/src/data.windows.spec.ts
  Pickle-Finance-Agents/KTM/src/data.windows.ts
  Pickle-Finance-Agents/KTM/src/mock.utils.ts
  Pickle-Finance-Agents/KTM/src/utils.ts
  Pickle-Finance-Agents/KTM/tsconfig.json
Labels: Pickle

#127 UniswapV3 Strategy - Idle Funds
  Pickle-Finance-Agents/IdleFundsUniV3Strat/.dockerignore
  Pickle-Finance-Agents/IdleFundsUniV3Strat/.gitignore
  Pickle-Finance-Agents/IdleFundsUniV3Strat/Dockerfile
  Pickle-Finance-Agents/IdleFundsUniV3Strat/README.md
  Pickle-Finance-Agents/IdleFundsUniV3Strat/jest.config.js
  Pickle-Finance-Agents/IdleFundsUniV3Strat/package-lock.json
  Pickle-Finance-Agents/IdleFundsUniV3Strat/package.json
  Pickle-Finance-Agents/IdleFundsUniV3Strat/src/abi.ts
  Pickle-Finance-Agents/IdleFundsUniV3Strat/src/agent.spec.ts
  Pickle-Finance-Agents/IdleFundsUniV3Strat/src/agent.ts
  Pickle-Finance-Agents/IdleFundsUniV3Strat/src/mock.utils.ts
  Pickle-Finance-Agents/IdleFundsUniV3Strat/src/utils.ts
  Pickle-Finance-Agents/IdleFundsUniV3Strat/tsconfig.json
Labels: Pickle

#126 Range Management Monitor (RMM)
  Pickle-Finance-Agents/RangeManagementMonitor/.dockerignore
  Pickle-Finance-Agents/RangeManagementMonitor/.gitignore
  Pickle-Finance-Agents/RangeManagementMonitor/Dockerfile
  Pickle-Finance-Agents/RangeManagementMonitor/README.md
  Pickle-Finance-Agents/RangeManagementMonitor/jest.config.js
  Pickle-Finance-Agents/RangeManagementMonitor/package-lock.json
  Pickle-Finance-Agents/RangeManagementMonitor/package.json
  Pickle-Finance-Agents/RangeManagementMonitor/src/abi.ts
  Pickle-Finance-Agents/RangeManagementMonitor/src/agent.spec.ts
  Pickle-Finance-Agents/RangeManagementMonitor/src/agent.ts
  Pickle-Finance-Agents/RangeManagementMonitor/src/mock.provider.ts
  Pickle-Finance-Agents/RangeManagementMonitor/src/strategy.fetcher.spec.ts
  Pickle-Finance-Agents/RangeManagementMonitor/src/strategy.fetcher.ts
  Pickle-Finance-Agents/RangeManagementMonitor/tsconfig.json
Labels: Pickle

#124 Multisigs
  Pickle-Finance-Agents/Multisigs/.dockerignore
  Pickle-Finance-Agents/Multisigs/.gitignore
  Pickle-Finance-Agents/Multisigs/Dockerfile
  Pickle-Finance-Agents/Multisigs/README.md
  Pickle-Finance-Agents/Multisigs/jest.config.js
  Pickle-Finance-Agents/Multisigs/package-lock.json
  Pickle-Finance-Agents/Multisigs/package.json
  Pickle-Finance-Agents/Multisigs/src/agent.spec.ts
  Pickle-Finance-Agents/Multisigs/src/agent.ts
  Pickle-Finance-Agents/Multisigs/src/test.utils.ts
  Pickle-Finance-Agents/Multisigs/src/utils.ts
  Pickle-Finance-Agents/Multisigs/tsconfig.json
Labels: Pickle

#123 Large withdrawals & deposits
  Pickle-Finance-Agents/LargeDepositsWithdrawals/.dockerignore
  Pickle-Finance-Agents/LargeDepositsWithdrawals/.gitignore
  Pickle-Finance-Agents/LargeDepositsWithdrawals/Dockerfile
  Pickle-Finance-Agents/LargeDepositsWithdrawals/README.md
  Pickle-Finance-Agents/LargeDepositsWithdrawals/jest.config.js
  Pickle-Finance-Agents/LargeDepositsWithdrawals/package-lock.json
  Pickle-Finance-Agents/LargeDepositsWithdrawals/package.json
  Pickle-Finance-Agents/LargeDepositsWithdrawals/src/abi.ts
  Pickle-Finance-Agents/LargeDepositsWithdrawals/src/agent.spec.ts
  Pickle-Finance-Agents/LargeDepositsWithdrawals/src/agent.ts
  Pickle-Finance-Agents/LargeDepositsWithdrawals/src/findings.ts
  Pickle-Finance-Agents/LargeDepositsWithdrawals/src/mock.provider.ts
  Pickle-Finance-Agents/LargeDepositsWithdrawals/src/vaults.fetcher.spec.ts
  Pickle-Finance-Agents/LargeDepositsWithdrawals/src/vaults.fetcher.ts
  Pickle-Finance-Agents/LargeDepositsWithdrawals/tsconfig.json
Labels: Pickle

#121 @pickle finance/idle funds
  Pickle-Finance-Agents/IdleFunds/.dockerignore
  Pickle-Finance-Agents/IdleFunds/.gitignore
  Pickle-Finance-Agents/IdleFunds/Dockerfile
  Pickle-Finance-Agents/IdleFunds/README.md
  Pickle-Finance-Agents/IdleFunds/jest.config.js
  Pickle-Finance-Agents/IdleFunds/package-lock.json
  Pickle-Finance-Agents/IdleFunds/package.json
  Pickle-Finance-Agents/IdleFunds/src/abi.ts
  Pickle-Finance-Agents/IdleFunds/src/agent.spec.ts
  Pickle-Finance-Agents/IdleFunds/src/agent.ts
  Pickle-Finance-Agents/IdleFunds/src/mock.utils.ts
  Pickle-Finance-Agents/IdleFunds/src/utils.ts
  Pickle-Finance-Agents/IdleFunds/tsconfig.json
Labels: Pickle

#120 Vaults PPS Monitor
  Pickle-Finance-Agents/PPS-Value/.dockerignore
  Pickle-Finance-Agents/PPS-Value/.gitignore
  Pickle-Finance-Agents/PPS-Value/Dockerfile
  Pickle-Finance-Agents/PPS-Value/README.md
  Pickle-Finance-Agents/PPS-Value/jest.config.js
  Pickle-Finance-Agents/PPS-Value/package-lock.json
  Pickle-Finance-Agents/PPS-Value/package.json
  Pickle-Finance-Agents/PPS-Value/src/abi.ts
  Pickle-Finance-Agents/PPS-Value/src/agent.spec.ts
  Pickle-Finance-Agents/PPS-Value/src/agent.ts
  Pickle-Finance-Agents/PPS-Value/src/mock.provider.ts
  Pickle-Finance-Agents/PPS-Value/src/vaults.fetcher.spec.ts
  Pickle-Finance-Agents/PPS-Value/src/vaults.fetcher.ts
  Pickle-Finance-Agents/PPS-Value/tsconfig.json
Labels: Pickle

#129 Volatility Monitor
  Pickle-Finance-Agents/VolatilityMonitor/.dockerignore
  Pickle-Finance-Agents/VolatilityMonitor/.gitignore
  Pickle-Finance-Agents/VolatilityMonitor/Dockerfile
  Pickle-Finance-Agents/VolatilityMonitor/README.md
  Pickle-Finance-Agents/VolatilityMonitor/jest.config.js
  Pickle-Finance-Agents/VolatilityMonitor/package-lock.json
  Pickle-Finance-Agents/VolatilityMonitor/package.json
  Pickle-Finance-Agents/VolatilityMonitor/src/abi.ts
  Pickle-Finance-Agents/VolatilityMonitor/src/agent.spec.ts
  Pickle-Finance-Agents/VolatilityMonitor/src/agent.ts
  Pickle-Finance-Agents/VolatilityMonitor/src/constants.ts
  Pickle-Finance-Agents/VolatilityMonitor/src/data.fetcher.spec.ts
  Pickle-Finance-Agents/VolatilityMonitor/src/data.fetcher.ts
  Pickle-Finance-Agents/VolatilityMonitor/src/flood.moderator.ts
  Pickle-Finance-Agents/VolatilityMonitor/src/main.handler.ts
  Pickle-Finance-Agents/VolatilityMonitor/src/memory.spec.ts
  Pickle-Finance-Agents/VolatilityMonitor/src/memory.ts
  Pickle-Finance-Agents/VolatilityMonitor/src/mock.provider.ts
  Pickle-Finance-Agents/VolatilityMonitor/src/utils.ts
  Pickle-Finance-Agents/VolatilityMonitor/tsconfig.json
Labels: Pickle

#135 Check once every hour and set fund limit to 35%
  Vesper-Agents-Suite/Fund/README.md
  Vesper-Agents-Suite/Fund/src/agent.spec.ts
  Vesper-Agents-Suite/Fund/src/agent.ts
  Vesper-Agents-Suite/Fund/src/time.tracker.spec.ts
  Vesper-Agents-Suite/Fund/src/time.tracker.ts
  Vesper-Agents-Suite/Fund/src/utils.ts
  Vesper-Agents-Suite/Maker-Strategy-Agent/src/agent.spec.ts
  Vesper-Agents-Suite/Maker-Strategy-Agent/src/agent.ts
  Vesper-Agents-Suite/Maker-Strategy-Agent/src/time.tracker.spec.ts
  Vesper-Agents-Suite/Maker-Strategy-Agent/src/time.tracker.ts
Labels: Vesper

#132 Alpaca Guard
  Alpaca-Finance-Agents/GuardAlert/.dockerignore
  Alpaca-Finance-Agents/GuardAlert/.gitignore
  Alpaca-Finance-Agents/GuardAlert/Dockerfile
  Alpaca-Finance-Agents/GuardAlert/README.md
  Alpaca-Finance-Agents/GuardAlert/jest.config.js
  Alpaca-Finance-Agents/GuardAlert/package-lock.json
  Alpaca-Finance-Agents/GuardAlert/package.json
  Alpaca-Finance-Agents/GuardAlert/src/abi.ts
  Alpaca-Finance-Agents/GuardAlert/src/agent.spec.ts
  Alpaca-Finance-Agents/GuardAlert/src/agent.ts
  Alpaca-Finance-Agents/GuardAlert/src/mock.utils.ts
  Alpaca-Finance-Agents/GuardAlert/src/utils.ts
  Alpaca-Finance-Agents/GuardAlert/tsconfig.json
Labels: Alpaca

#134 @alpaca/large position alert
  Alpaca-Finance-Agents/Large-Position-Alert/.dockerignore
  Alpaca-Finance-Agents/Large-Position-Alert/.gitignore
  Alpaca-Finance-Agents/Large-Position-Alert/Dockerfile
  Alpaca-Finance-Agents/Large-Position-Alert/README.md
  Alpaca-Finance-Agents/Large-Position-Alert/jest.config.js
  Alpaca-Finance-Agents/Large-Position-Alert/package-lock.json
  Alpaca-Finance-Agents/Large-Position-Alert/package.json
  Alpaca-Finance-Agents/Large-Position-Alert/src/agent.spec.ts
  Alpaca-Finance-Agents/Large-Position-Alert/src/agent.ts
  Alpaca-Finance-Agents/Large-Position-Alert/tsconfig.json
Labels: Alpaca

#138 @alpaca/liquidation alert
  Alpaca-Finance-Agents/Liquidation-Alert/.dockerignore
  Alpaca-Finance-Agents/Liquidation-Alert/.gitignore
  Alpaca-Finance-Agents/Liquidation-Alert/Dockerfile
  Alpaca-Finance-Agents/Liquidation-Alert/README.md
  Alpaca-Finance-Agents/Liquidation-Alert/jest.config.js
  Alpaca-Finance-Agents/Liquidation-Alert/package-lock.json
  Alpaca-Finance-Agents/Liquidation-Alert/package.json
  Alpaca-Finance-Agents/Liquidation-Alert/src/agent.spec.ts
  Alpaca-Finance-Agents/Liquidation-Alert/src/agent.ts
  Alpaca-Finance-Agents/Liquidation-Alert/tsconfig.json
Labels: Alpaca

#140 Worker with high shares
  Alpaca-Finance-Agents/HighShareLP/.dockerignore
  Alpaca-Finance-Agents/HighShareLP/.gitignore
  Alpaca-Finance-Agents/HighShareLP/Dockerfile
  Alpaca-Finance-Agents/HighShareLP/README.md
  Alpaca-Finance-Agents/HighShareLP/jest.config.js
  Alpaca-Finance-Agents/HighShareLP/package-lock.json
  Alpaca-Finance-Agents/HighShareLP/package.json
  Alpaca-Finance-Agents/HighShareLP/src/abi.ts
  Alpaca-Finance-Agents/HighShareLP/src/agent.spec.ts
  Alpaca-Finance-Agents/HighShareLP/src/agent.ts
  Alpaca-Finance-Agents/HighShareLP/src/mock.utils.ts
  Alpaca-Finance-Agents/HighShareLP/src/utils.ts
  Alpaca-Finance-Agents/HighShareLP/tsconfig.json
Labels: Alpaca

#141 AllocPoint Change Alert
  Alpaca-Finance-Agents/AllocPoint-Change-Alert/.dockerignore
  Alpaca-Finance-Agents/AllocPoint-Change-Alert/.gitignore
  Alpaca-Finance-Agents/AllocPoint-Change-Alert/Dockerfile
  Alpaca-Finance-Agents/AllocPoint-Change-Alert/README.md
  Alpaca-Finance-Agents/AllocPoint-Change-Alert/jest.config.js
  Alpaca-Finance-Agents/AllocPoint-Change-Alert/package-lock.json
  Alpaca-Finance-Agents/AllocPoint-Change-Alert/package.json
  Alpaca-Finance-Agents/AllocPoint-Change-Alert/src/agent.spec.ts
  Alpaca-Finance-Agents/AllocPoint-Change-Alert/src/agent.ts
  Alpaca-Finance-Agents/AllocPoint-Change-Alert/tsconfig.json
Labels: Alpaca

#142 Pools TVL
  Alpaca-Finance-Agents/PoolTVLs/.dockerignore
  Alpaca-Finance-Agents/PoolTVLs/.gitignore
  Alpaca-Finance-Agents/PoolTVLs/Dockerfile
  Alpaca-Finance-Agents/PoolTVLs/README.md
  Alpaca-Finance-Agents/PoolTVLs/jest.config.js
  Alpaca-Finance-Agents/PoolTVLs/package-lock.json
  Alpaca-Finance-Agents/PoolTVLs/package.json
  Alpaca-Finance-Agents/PoolTVLs/src/abi.ts
  Alpaca-Finance-Agents/PoolTVLs/src/agent.spec.ts
  Alpaca-Finance-Agents/PoolTVLs/src/agent.ts
  Alpaca-Finance-Agents/PoolTVLs/src/mock.utils.ts
  Alpaca-Finance-Agents/PoolTVLs/src/utils.ts
  Alpaca-Finance-Agents/PoolTVLs/tsconfig.json
Labels: Alpaca

#151 answers submission agent
  SafeSnap-Agents/AnswersSubmission/.dockerignore
  SafeSnap-Agents/AnswersSubmission/.gitignore
  SafeSnap-Agents/AnswersSubmission/Dockerfile
  SafeSnap-Agents/AnswersSubmission/README.md
  SafeSnap-Agents/AnswersSubmission/jest.config.js
  SafeSnap-Agents/AnswersSubmission/package-lock.json
  SafeSnap-Agents/AnswersSubmission/package.json
  SafeSnap-Agents/AnswersSubmission/src/agent.spec.ts
  SafeSnap-Agents/AnswersSubmission/src/agent.ts
  SafeSnap-Agents/AnswersSubmission/src/oracle.fetcher.spec.ts
  SafeSnap-Agents/AnswersSubmission/src/oracle.fetcher.ts
  SafeSnap-Agents/AnswersSubmission/src/utils.ts
  SafeSnap-Agents/AnswersSubmission/tsconfig.json
Labels: SafeSnap

#148 Adding gnosis Agent
  SafeSnap-Agents/CallMonitoring/.dockerignore
  SafeSnap-Agents/CallMonitoring/.gitignore
  SafeSnap-Agents/CallMonitoring/Dockerfile
  SafeSnap-Agents/CallMonitoring/README.md
  SafeSnap-Agents/CallMonitoring/jest.config.js
  SafeSnap-Agents/CallMonitoring/package-lock.json
  SafeSnap-Agents/CallMonitoring/package.json
  SafeSnap-Agents/CallMonitoring/src/agent.spec.ts
  SafeSnap-Agents/CallMonitoring/src/agent.ts
  SafeSnap-Agents/CallMonitoring/src/constants.ts
  SafeSnap-Agents/CallMonitoring/tsconfig.json
Labels: SafeSnap
