Repository NethermindEth/Forta-Agents, pull requests merged in 2022-07, with the labels that each got.

#292 CAKE08 - Lottery admin operations
  PancakeSwap-Bots/Lottery-Admin-Operations/.dockerignore
  PancakeSwap-Bots/Lottery-Admin-Operations/.gitignore
  PancakeSwap-Bots/Lottery-Admin-Operations/.prettierrc
  PancakeSwap-Bots/Lottery-Admin-Operations/Dockerfile
  PancakeSwap-Bots/Lottery-Admin-Operations/README.md
  PancakeSwap-Bots/Lottery-Admin-Operations/jest.config.js
  PancakeSwap-Bots/Lottery-Admin-Operations/package-lock.json
  PancakeSwap-Bots/Lottery-Admin-Operations/package.json
  PancakeSwap-Bots/Lottery-Admin-Operations/src/abi.ts
  PancakeSwap-Bots/Lottery-Admin-Operations/src/agent.spec.ts
  PancakeSwap-Bots/Lottery-Admin-Operations/src/agent.ts
  PancakeSwap-Bots/Lottery-Admin-Operations/src/bot.test.constants.ts
  PancakeSwap-Bots/Lottery-Admin-Operations/src/config.ts
  PancakeSwap-Bots/Lottery-Admin-Operations/src/findings.ts
  PancakeSwap-Bots/Lottery-Admin-Operations/src/function.call.listener.spec.ts
  PancakeSwap-Bots/Lottery-Admin-Operations/src/function.call.listener.ts
  PancakeSwap-Bots/Lottery-Admin-Operations/src/new.operator.and.treasury.and.injector.address.spec.ts
  PancakeSwap-Bots/Lottery-Admin-Operations/src/new.operator.and.treasury.and.injector.address.ts
  PancakeSwap-Bots/Lottery-Admin-Operations/src/new.random.generator.spec.ts
  PancakeSwap-Bots/Lottery-Admin-Operations/src/new.random.generator.ts
  PancakeSwap-Bots/Lottery-Admin-Operations/tsconfig.json
Labels: PancakeSwap

#271 GMX04 - Detect Many Closing Positions On A Time Frame
  GMX-Bots/Detect-many-closing/.dockerignore
  GMX-Bots/Detect-many-closing/.gitignore
  GMX-Bots/Detect-many-closing/.prettierrc
  GMX-Bots/Detect-many-closing/Dockerfile
  GMX-Bots/Detect-many-closing/README.md
  GMX-Bots/Detect-many-closing/jest.config.js
  GMX-Bots/Detect-many-closing/package-lock.json
  GMX-Bots/Detect-many-closing/package.json
  GMX-Bots/Detect-many-closing/src/PoC/Vault.sol
  GMX-Bots/Detect-many-closing/src/agent.spec.ts
  GMX-Bots/Detect-many-closing/src/agent.ts
  GMX-Bots/Detect-many-closing/src/network.ts
  GMX-Bots/Detect-many-closing/src/utils.ts
  GMX-Bots/Detect-many-closing/tsconfig.json
Labels: gmx

#291 CAKE03 - Large LP Deposit/Withdrawal
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/.dockerignore
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/.gitignore
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/.prettierrc
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/Dockerfile
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/README.md
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/jest.config.js
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/package-lock.json
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/package.json
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/src/agent.spec.ts
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/src/agent.ts
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/src/constants.ts
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/src/finding.ts
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/src/pool.fetcher.spec.ts
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/src/pool.fetcher.ts
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/src/utils.ts
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/tsconfig.json
Labels: PancakeSwap

#299 CAKE10 - Large Delegator’s Vote Change
  PancakeSwap-Bots/Large-Delegators-Vote-Change/.dockerignore
  PancakeSwap-Bots/Large-Delegators-Vote-Change/.gitignore
  PancakeSwap-Bots/Large-Delegators-Vote-Change/.prettierrc
  PancakeSwap-Bots/Large-Delegators-Vote-Change/Dockerfile
  PancakeSwap-Bots/Large-Delegators-Vote-Change/PoC/TestCake.sol
  PancakeSwap-Bots/Large-Delegators-Vote-Change/README.md
  PancakeSwap-Bots/Large-Delegators-Vote-Change/jest.config.js
  PancakeSwap-Bots/Large-Delegators-Vote-Change/package-lock.json
  PancakeSwap-Bots/Large-Delegators-Vote-Change/package.json
  PancakeSwap-Bots/Large-Delegators-Vote-Change/src/abi.ts
  PancakeSwap-Bots/Large-Delegators-Vote-Change/src/agent.spec.ts
  PancakeSwap-Bots/Large-Delegators-Vote-Change/src/agent.ts
  PancakeSwap-Bots/Large-Delegators-Vote-Change/src/config.ts
  PancakeSwap-Bots/Large-Delegators-Vote-Change/src/findings.ts
  PancakeSwap-Bots/Large-Delegators-Vote-Change/src/thresholds.ts
  PancakeSwap-Bots/Large-Delegators-Vote-Change/tsconfig.json
Labels: PancakeSwap

#294 CAKE-01 Pair Created
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/README.md
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/src/agent.spec.ts
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/src/agent.ts
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/src/constants.ts
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/src/finding.ts
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/src/pool.fetcher.spec.ts
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/src/pool.fetcher.ts
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/src/utils.ts
  PancakeSwap-Bots/Pair-Created/.dockerignore
  PancakeSwap-Bots/Pair-Created/.gitignore
  PancakeSwap-Bots/Pair-Created/.prettierrc
  PancakeSwap-Bots/Pair-Created/Dockerfile
  PancakeSwap-Bots/Pair-Created/README.md
  PancakeSwap-Bots/Pair-Created/jest.config.js
  PancakeSwap-Bots/Pair-Created/package-lock.json
  PancakeSwap-Bots/Pair-Created/package.json
  PancakeSwap-Bots/Pair-Created/src/agent.spec.ts
  PancakeSwap-Bots/Pair-Created/src/agent.ts
  PancakeSwap-Bots/Pair-Created/src/constants.ts
  PancakeSwap-Bots/Pair-Created/src/finding.ts
  PancakeSwap-Bots/Pair-Created/src/utils.ts
  PancakeSwap-Bots/Pair-Created/tsconfig.json
Labels: PancakeSwap

#304 CAKE03 - Large LP Deposit/Withdrawal
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/.dockerignore
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/.gitignore
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/.prettierrc
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/Dockerfile
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/README.md
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/jest.config.js
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/package-lock.json
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/package.json
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/src/agent.spec.ts
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/src/agent.ts
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/src/constants.ts
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/src/finding.ts
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/src/pool.fetcher.spec.ts
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/src/pool.fetcher.ts
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/src/utils.ts
  PancakeSwap-Bots/Large-LP-Deposit-Withdrawal/tsconfig.json
Labels: PancakeSwap

#309 BAL04 - Large Flash Loan Update
  Balancer-Bots/Large-Flash-Loan/PoC/MockVault.sol
  Balancer-Bots/Large-Flash-Loan/README.md
  Balancer-Bots/Large-Flash-Loan/package-lock.json
  Balancer-Bots/Large-Flash-Loan/package.json
  Balancer-Bots/Large-Flash-Loan/src/agent.config.ts
  Balancer-Bots/Large-Flash-Loan/src/agent.spec.ts
  Balancer-Bots/Large-Flash-Loan/src/agent.ts
  Balancer-Bots/Large-Flash-Loan/src/constants.ts
  Balancer-Bots/Large-Flash-Loan/src/finding.ts
Labels: Balancer

#310 BAL03 - Large Swap Update
  Balancer-Bots/Large-Swap/PoC/MockVault.sol
  Balancer-Bots/Large-Swap/README.md
  Balancer-Bots/Large-Swap/package-lock.json
  Balancer-Bots/Large-Swap/package.json
  Balancer-Bots/Large-Swap/src/agent.config.ts
  Balancer-Bots/Large-Swap/src/agent.spec.ts
  Balancer-Bots/Large-Swap/src/agent.ts
  Balancer-Bots/Large-Swap/src/constants.ts
  Balancer-Bots/Large-Swap/src/finding.ts
Labels: Balancer

#311 BAL07 - Large BAL Transfer Update
  Balancer-Bots/Large-BAL-Transfer/README.md
  Balancer-Bots/Large-BAL-Transfer/package-lock.json
  Balancer-Bots/Large-BAL-Transfer/package.json
  Balancer-Bots/Large-BAL-Transfer/src/agent.spec.ts
  Balancer-Bots/Large-BAL-Transfer/src/agent.ts
  Balancer-Bots/Large-BAL-Transfer/src/findings.ts
Labels: Balancer

#312 BAL06 - Pool Registered Update
  Balancer-Bots/Pool-Registered/README.md
  Balancer-Bots/Pool-Registered/package-lock.json
  Balancer-Bots/Pool-Registered/package.json
  Balancer-Bots/Pool-Registered/src/agent.config.ts
  Balancer-Bots/Pool-Registered/src/agent.spec.ts
  Balancer-Bots/Pool-Registered/src/agent.ts
  Balancer-Bots/Pool-Registered/src/finding.ts
Labels: Balancer

#306 BAL08 - Large veBAL Delegation Update
  Balancer-Bots/Large-Delegation/README.md
  Balancer-Bots/Large-Delegation/package-lock.json
  Balancer-Bots/Large-Delegation/package.json
  Balancer-Bots/Large-Delegation/src/agent.config.ts
  Balancer-Bots/Large-Delegation/src/agent.spec.ts
  Balancer-Bots/Large-Delegation/src/agent.ts
  Balancer-Bots/Large-Delegation/src/finding.ts
Labels: Balancer

#314 BAL01 - Swap / FLashLoan Fee Change Update
  Balancer-Bots/Swap-FlashLoan-Fee-Change/README.md
  Balancer-Bots/Swap-FlashLoan-Fee-Change/package-lock.json
  Balancer-Bots/Swap-FlashLoan-Fee-Change/package.json
  Balancer-Bots/Swap-FlashLoan-Fee-Change/src/agent.spec.ts
  Balancer-Bots/Swap-FlashLoan-Fee-Change/src/agent.ts
  Balancer-Bots/Swap-FlashLoan-Fee-Change/src/finding.ts
Labels: Balancer

#308 BAL05 - Large Pool Balance Change Update
  Balancer-Bots/Large-Pool-Balance-Change/README.md
  Balancer-Bots/Large-Pool-Balance-Change/package-lock.json
  Balancer-Bots/Large-Pool-Balance-Change/package.json
  Balancer-Bots/Large-Pool-Balance-Change/src/agent.spec.ts
  Balancer-Bots/Large-Pool-Balance-Change/src/agent.ts
  Balancer-Bots/Large-Pool-Balance-Change/src/constants.ts
  Balancer-Bots/Large-Pool-Balance-Change/src/finding.ts
Labels: Balancer

#307 BAL02 - Large Internal Balance Change Update
  Balancer-Bots/Large-Internal-Balance-Deposit-Withdrawal/PoC/TestToken.sol
  Balancer-Bots/Large-Internal-Balance-Deposit-Withdrawal/PoC/TestVault.sol
  Balancer-Bots/Large-Internal-Balance-Deposit-Withdrawal/PoC/Vault.sol
  Balancer-Bots/Large-Internal-Balance-Deposit-Withdrawal/README.md
  Balancer-Bots/Large-Internal-Balance-Deposit-Withdrawal/package-lock.json
  Balancer-Bots/Large-Internal-Balance-Deposit-Withdrawal/package.json
  Balancer-Bots/Large-Internal-Balance-Deposit-Withdrawal/src/agent.config.ts
  Balancer-Bots/Large-Internal-Balance-Deposit-Withdrawal/src/agent.spec.ts
  Balancer-Bots/Large-Internal-Balance-Deposit-Withdrawal/src/agent.ts
  Balancer-Bots/Large-Internal-Balance-Deposit-Withdrawal/src/balance.fetcher.spec.ts
  Balancer-Bots/Large-Internal-Balance-Deposit-Withdrawal/src/balance.fetcher.ts
  Balancer-Bots/Large-Internal-Balance-Deposit-Withdrawal/src/constants.ts
  Balancer-Bots/Large-Internal-Balance-Deposit-Withdrawal/src/finding.ts
Labels: Balancer

#313 BAL09 - Stable Pool Depegging Update
  Balancer-Bots/Stable-Pool-Depegging/PoC/MockStablePoolGroup.sol
  Balancer-Bots/Stable-Pool-Depegging/README.md
  Balancer-Bots/Stable-Pool-Depegging/package-lock.json
  Balancer-Bots/Stable-Pool-Depegging/package.json
  Balancer-Bots/Stable-Pool-Depegging/src/agent.config.ts
  Balancer-Bots/Stable-Pool-Depegging/src/agent.spec.ts
  Balancer-Bots/Stable-Pool-Depegging/src/agent.ts
  Balancer-Bots/Stable-Pool-Depegging/src/constants.ts
  Balancer-Bots/Stable-Pool-Depegging/src/finding.ts
  Balancer-Bots/Stable-Pool-Depegging/src/utils.ts
Labels: Balancer

#305 CAKE06 -Auto CAKE Admin Operations
  PancakeSwap-Bots/Auto-CAKE-Admin-Operations/.dockerignore
  PancakeSwap-Bots/Auto-CAKE-Admin-Operations/.gitignore
  PancakeSwap-Bots/Auto-CAKE-Admin-Operations/.prettierrc
  PancakeSwap-Bots/Auto-CAKE-Admin-Operations/Dockerfile
  PancakeSwap-Bots/Auto-CAKE-Admin-Operations/PoC/TestCakeVault.sol
  PancakeSwap-Bots/Auto-CAKE-Admin-Operations/README.md
  PancakeSwap-Bots/Auto-CAKE-Admin-Operations/jest.config.js
  PancakeSwap-Bots/Auto-CAKE-Admin-Operations/package-lock.json
  PancakeSwap-Bots/Auto-CAKE-Admin-Operations/package.json
  PancakeSwap-Bots/Auto-CAKE-Admin-Operations/src/abi.ts
  PancakeSwap-Bots/Auto-CAKE-Admin-Operations/src/agent.spec.ts
  PancakeSwap-Bots/Auto-CAKE-Admin-Operations/src/agent.ts
  PancakeSwap-Bots/Auto-CAKE-Admin-Operations/src/config.ts
  PancakeSwap-Bots/Auto-CAKE-Admin-Operations/src/events.listener.spec.ts
  PancakeSwap-Bots/Auto-CAKE-Admin-Operations/src/events.listener.ts
  PancakeSwap-Bots/Auto-CAKE-Admin-Operations/src/findings.ts
  PancakeSwap-Bots/Auto-CAKE-Admin-Operations/src/function.call.listener.spec.ts
  PancakeSwap-Bots/Auto-CAKE-Admin-Operations/src/function.call.listener.ts
  PancakeSwap-Bots/Auto-CAKE-Admin-Operations/tsconfig.json
Labels: PancakeSwap

#303 CAKE09 - Prediction Admin Operations Agent
  PancakeSwap-Bots/Prediction-Admin-Operatons/.dockerignore
  PancakeSwap-Bots/Prediction-Admin-Operatons/.gitignore
  PancakeSwap-Bots/Prediction-Admin-Operatons/.prettierrc
  PancakeSwap-Bots/Prediction-Admin-Operatons/Dockerfile
  PancakeSwap-Bots/Prediction-Admin-Operatons/README.md
  PancakeSwap-Bots/Prediction-Admin-Operatons/jest.config.js
  PancakeSwap-Bots/Prediction-Admin-Operatons/package-lock.json
  PancakeSwap-Bots/Prediction-Admin-Operatons/package.json
  PancakeSwap-Bots/Prediction-Admin-Operatons/src/abi.ts
  PancakeSwap-Bots/Prediction-Admin-Operatons/src/agent.spec.ts
  PancakeSwap-Bots/Prediction-Admin-Operatons/src/agent.ts
  PancakeSwap-Bots/Prediction-Admin-Operatons/src/findings.ts
  PancakeSwap-Bots/Prediction-Admin-Operatons/tsconfig.json
Labels: PancakeSwap
